<mkj-content-loader [loading]="isLoading">
    <div class="card">
        <mkj-gruppe-form
            *ngIf="formGroup"
            [formGroup]="formGroup"
        ></mkj-gruppe-form>
        <div class="col-12 flex justify-content-end">
            <button
                pButton
                pRipple
                label="Speichern"
                [icon]="isSaving ? 'pi pi-spin pi-spinner' : 'pi pi-check'"
                class="p-button-plain"
                [disabled]="
                    isSaving ||
                    formGroup?.invalid ||
                    isLoading ||
                    formGroup?.pristine
                "
                (click)="saveGruppe()"
            ></button>
        </div>
    </div>

    <div *ngIf="formGroup?.controls.id.value" class="card">
        <p-table
            [value]="mitglieder"
            [loading]="tableLocked"
            responsiveLayout="scroll"
        >
            <ng-template pTemplate="caption">
                <p-autoComplete
                    #autoComplete
                    [suggestions]="mitgliederSearchResult"
                    (completeMethod)="searchMitglieder($event)"
                    (onSelect)="addMitglied($event)"
                    [forceSelection]="true"
                    [autoHighlight]="true"
                    [appendTo]="'body'"
                    dataKey="id"
                    placeholder="Mitglied hinzufügen..."
                >
                    <ng-template let-mitglied pTemplate="item">
                        <div>
                            {{ mitglied | fullName }}
                        </div>
                    </ng-template>
                </p-autoComplete>
            </ng-template>
            <ng-template pTemplate="body" let-mitglied>
                <tr>
                    <td>{{ mitglied | fullName }}</td>
                    <td style="width: 5rem">
                        <button
                            pButton
                            pRipple
                            class="p-button-small p-button-text p-button-danger"
                            icon="pi pi-times"
                            pTooltip="Mitglied entfernen"
                            (click)="removeMitglied(mitglied.id)"
                        ></button>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</mkj-content-loader>
