<mkj-list
  [datasource]="datasource"
  [configuration]="listConfig"
  [templateMap]="{
    rowexpansion: rowexpansion,
    aktivTemplate: aktivTemplate
  }"
  (onDoubleClick)="navigateSingleMitglied($event)"
>
</mkj-list>

<ng-template #aktivTemplate let-mitglied>
  <mkj-tag [label]="mitglied.aktiv ? 'Aktiv' : 'Inaktiv'" [severity]="mitglied.aktiv ? 'success' : 'warning'"></mkj-tag>
</ng-template>

<ng-template #rowexpansion let-mitglied>
  @if (mitglied) {
    <mkj-display-model [model]="mitglied"></mkj-display-model>
  }
</ng-template>
