.mkj-toolbar {
    margin-top: -20px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.1);
    // background-image: linear-gradient(rgba(128, 128, 128, 0.308), transparent);
    color: rgba(128, 128, 128, 0.507);
    font-size: larger;
}

.button-opacity {
    opacity: 0.7;
}

.toolbar-header {
    font-weight: bold;
}
