.mkj-toolbar {
    margin-top: -20px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.1);
    color: var(--mkj-border);
    font-size: larger;

    ::ng-deep .pi {
        font-size: 1.2rem;
        font-weight: bold;
    }

    .button-opacity {
        opacity: 0.8;
    }

    .toolbar-header {
        font-weight: bold;
    }

    .button-highlighted {
        color: var(--primary-color);
    }
}

.mkj-toolbar-content {
    display: none;
    -webkit-animation-duration: 0.5s;
    -moz-animation-duration: 0.5s;
    animation-duration: 0.5s;

    &-visible {
        display: block;
    }
}
