<ng-template #toolbarContentSection>
    <div class="flex justify-content-end mb-3">
        <button
            pButton
            icon="pi pi-times"
            class="p-button-text"
            (click)="
                toolbarService.contentSectionExpanded = false;
                toolbarService.buttons[0].highlighted = false
            "
        ></button>
    </div>
    <div class="flex gap-2 align-items-center">
        <mkj-date-input
            type="date"
            [value]="ausrueckungFilterInput.filterAnd[0]?.value"
            (valueChanged)="setFilterInputDates(0, $event)"
            label="Filter Von"
            placeholder="Alle"
        ></mkj-date-input>
        <mkj-date-input
            type="date"
            [value]="ausrueckungFilterInput.filterAnd[1]?.value"
            (valueChanged)="setFilterInputDates(1, $event)"
            label="Filter Bis"
            placeholder="Alle"
        ></mkj-date-input>
    </div>
    <p-divider></p-divider>
    <div class="flex flex-wrap justify-content-between align-items-center">
        <div>
            Anzahl:
            {{ filteredRows ? filteredRows.length : 0 }}
        </div>

        <span class="p-input-icon-left">
            <i class="pi pi-search"></i>
            <input
                pInputText
                type="text"
                [value]="dt.filters?.global?.value"
                (input)="dt.filterGlobal($event.target.value, 'contains')"
                placeholder="Suchen..."
            />
        </span>
    </div>
</ng-template>

<div class="grid">
    <div class="col-12">
        <div>
            <!-- Tabelle -->
            <p-table
                #dt
                [columns]="cols"
                [value]="ausrueckungenArray"
                [globalFilterFields]="['name', 'vonDatum', 'kategorie']"
                [rowHover]="true"
                dataKey="id"
                styleClass="p-datatable-ausrueckungen p-datatable-striped rowexpand-table"
                responsiveLayout="scroll"
                [loading]="loading"
                sortField="vonDatum"
                (onFilter)="setFilteredRows($event)"
                selectionMode="single"
                (onRowSelect)="onRowSelect($event)"
                (onRowUnselect)="onRowUnselect($event)"
                rowExpandMode="single"
                [(selection)]="selectedRow"
                stateStorage="session"
                stateKey="termine-liste"
            >
                <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="name">
                            Name <p-sortIcon field="name"></p-sortIcon>
                        </th>
                        <th pSortableColumn="vonDatum">
                            Datum <p-sortIcon field="vonDatum"></p-sortIcon>
                        </th>
                        <th>
                            <span>Kategorie</span>
                            <p-columnFilter
                                field="kategorie"
                                matchMode="equals"
                                display="menu"
                                [showOperator]="false"
                                [showClearButton]="true"
                                [showApplyButton]="true"
                                [showMatchModes]="true"
                                [showAddButton]="false"
                                [hideOnClear]="true"
                            >
                                <ng-template
                                    pTemplate="filter"
                                    let-value
                                    let-filter="filterCallback"
                                >
                                    <p-dropdown
                                        [ngModel]="value"
                                        [options]="kategorien"
                                        (onChange)="filter($event.value)"
                                        placeholder="Filter"
                                    >
                                        <ng-template
                                            let-option
                                            pTemplate="item"
                                        >
                                            <span>{{ option.label }}</span>
                                        </ng-template>
                                    </p-dropdown>
                                </ng-template>
                            </p-columnFilter>
                        </th>
                        <th>
                            <span>Status </span>
                            <p-columnFilter
                                field="status"
                                matchMode="equals"
                                display="menu"
                                [showOperator]="false"
                                [showClearButton]="true"
                                [showApplyButton]="true"
                                [showMatchModes]="false"
                                [showAddButton]="false"
                                [hideOnClear]="true"
                            >
                                <ng-template
                                    pTemplate="filter"
                                    let-value
                                    let-filter="filterCallback"
                                >
                                    <p-dropdown
                                        [ngModel]="value"
                                        [options]="status"
                                        (onChange)="filter($event.value)"
                                        placeholder="Filter"
                                    >
                                        <ng-template
                                            let-option
                                            pTemplate="item"
                                        >
                                            <span
                                                [class]="
                                                    'ausrueckungen-badge status-' +
                                                    option.value
                                                "
                                                >{{ option.label }}</span
                                            >
                                        </ng-template>
                                    </p-dropdown>
                                </ng-template>
                            </p-columnFilter>
                        </th>
                    </tr>
                </ng-template>

                <ng-template
                    pTemplate="body"
                    let-ausrueckung
                    let-expanded="expanded"
                    let-rowIndex="rowIndex"
                >
                    <tr
                        class="p-selectable-row"
                        [pSelectableRow]="ausrueckung"
                        [pSelectableRowIndex]="rowIndex"
                        [class.ausrueckung-expired]="
                            ausrueckung.vonDatum < actualDate
                        "
                        [class]="
                            'termin-color status-' +
                            (ausrueckung.status
                                ? ausrueckung.status.toLowerCase()
                                : '')
                        "
                    >
                        <td>
                            <span class="font-bold">{{
                                ausrueckung.name
                            }}</span>
                            <span
                                *ngIf="ausrueckung.gruppe"
                                class="gruppentermin ml-2"
                                [style.--gruppe-color]="
                                    ausrueckung.gruppe?.color
                                "
                            >
                                <i
                                    class="pi pi-users"
                                    [pTooltip]="ausrueckung.gruppe?.name"
                                ></i
                            ></span>
                        </td>
                        <td>
                            {{
                                ausrueckung.vonDatum
                                    | mkjDate : "E d. MMMM YYYY"
                            }}
                            {{ ausrueckung.treffzeit }}
                        </td>
                        <td class="not-on-small">
                            {{ ausrueckung.kategorie | uppercase }}
                        </td>
                        <td class="not-on-small">
                            <span
                                [class]="
                                    'ausrueckungen-badge status-' +
                                    (ausrueckung.status
                                        ? ausrueckung.status.toLowerCase()
                                        : '')
                                "
                            >
                                {{ ausrueckung.status }}
                            </span>
                        </td>
                    </tr>
                </ng-template>

                <ng-template pTemplate="rowexpansion" let-ausrueckung>
                    <tr>
                        <td colspan="4">
                            <termin-card [termin]="ausrueckung"></termin-card>
                            <div class="grid">
                                <div
                                    class="md:col-4 col-12 flex justify-content-center"
                                >
                                    <mkj-termin-teilnahme-dropdown
                                        [termin]="ausrueckung"
                                    ></mkj-termin-teilnahme-dropdown>
                                </div>
                                <div
                                    class="md:col-4 col-12 flex justify-content-center"
                                >
                                    <button
                                        pButton
                                        pRipple
                                        icon="pi pi-list"
                                        label="Details"
                                        class="p-button-raised p-button-primary"
                                        [routerLink]="
                                            '../details/' + ausrueckung.id
                                        "
                                    ></button>
                                </div>
                                <div
                                    class="md:col-4 col-12 flex justify-content-center"
                                >
                                    <button
                                        *ngIf="hasAktionenPermissions"
                                        pButton
                                        pRipple
                                        icon="pi pi-ellipsis-h"
                                        label="Aktionen"
                                        class="p-button-outlined p-button-info"
                                        (click)="rowMenu.toggle($event)"
                                    ></button>
                                </div>
                            </div>
                        </td>
                    </tr>
                </ng-template>

                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td colspan="6">
                            In diesem Zeitraum sind keine Termine vorhanden!
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>

<p-menu #rowMenu [popup]="true" [model]="rowMenuItems"></p-menu>
<p-menu #exportMenu [popup]="true" [model]="exportMenuItems"></p-menu>
