.grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -0.5em;
    margin-left: -0.5em;
    margin-top: -0.5em;
}

.grid-nogutter {
    margin-right: 0;
    margin-left: 0;
    margin-top: 0;
}

.grid-nogutter > .p-col,
.grid-nogutter > [class*="col-"] {
    padding: 0;
}

.p-dir-rev {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
}

.p-dir-col {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.p-dir-col-rev {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
}

.p-justify-start {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}

.p-justify-end {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.p-justify-center {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.p-justify-between {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.p-justify-around {
    -ms-flex-pack: distribute;
    justify-content: space-around;
}

.p-justify-even {
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
}

.p-align-start {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.p-align-end {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
}

.p-align-center {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.p-align-baseline {
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
}

.p-align-stretch {
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
}

.p-col {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    padding: 0.5em;
}

.col-fixed {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    padding: 0.5em;
}

.col-align-start {
    -ms-flex-item-align: start;
    align-self: flex-start;
}

.col-align-end {
    -ms-flex-item-align: end;
    align-self: flex-end;
}

.col-align-center {
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
}

.col-align-baseline {
    -ms-flex-item-align: baseline;
    align-self: baseline;
}

.col-align-stretch {
    -ms-flex-item-align: stretch;
    -ms-grid-row-align: stretch;
    align-self: stretch;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    padding: 0.5em;
}

.col-1 {
    width: 8.3333%;
}

.col-2 {
    width: 16.6667%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.3333%;
}

.col-5 {
    width: 41.6667%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.3333%;
}

.col-8 {
    width: 66.6667%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.3333%;
}

.col-11 {
    width: 91.6667%;
}

.col-12 {
    width: 100%;
}

.p-offset-12 {
    margin-left: 100%;
}

.p-offset-11 {
    margin-left: 91.66666667%;
}

.p-offset-10 {
    margin-left: 83.33333333%;
}

.p-offset-9 {
    margin-left: 75%;
}

.p-offset-8 {
    margin-left: 66.66666667%;
}

.p-offset-7 {
    margin-left: 58.33333333%;
}

.p-offset-6 {
    margin-left: 50%;
}

.p-offset-5 {
    margin-left: 41.66666667%;
}

.p-offset-4 {
    margin-left: 33.33333333%;
}

.p-offset-3 {
    margin-left: 25%;
}

.p-offset-2 {
    margin-left: 16.66666667%;
}

.p-offset-1 {
    margin-left: 8.33333333%;
}

.p-offset-0 {
    margin-left: 0%;
}

.sm:col-1,
.sm:col-2,
.sm:col-3,
.sm:col-4,
.sm:col-5,
.sm:col-6,
.sm:col-7,
.sm:col-8,
.sm:col-9,
.sm:col-10,
.sm:col-11,
.sm:col-12,
.md:col-1,
.md:col-2,
.md:col-3,
.md:col-4,
.md:col-5,
.md:col-6,
.md:col-7,
.md:col-8,
.md:col-9,
.md:col-10,
.md:col-11,
.md:col-12,
.lg:col-1,
.lg:col-2,
.lg:col-3,
.lg:col-4,
.lg:col-5,
.lg:col-6,
.lg:col-7,
.lg:col-8,
.lg:col-9,
.lg:col-10,
.lg:col-11,
.lg:col-12,
.xl:col-1,
.xl:col-2,
.xl:col-3,
.xl:col-4,
.xl:col-5,
.xl:col-6,
.xl:col-7,
.xl:col-8,
.xl:col-9,
.xl:col-10,
.xl:col-11,
.xl:col-12 {
    padding: 0.5em;
}

.col-nogutter {
    padding: 0;
}

@media screen and (min-width: 576px) {
    .sm:col-1,
    .sm:col-2,
    .sm:col-3,
    .sm:col-4,
    .sm:col-5,
    .sm:col-6,
    .sm:col-7,
    .sm:col-8,
    .sm:col-9,
    .sm:col-10,
    .sm:col-11,
    .sm:col-12 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
    }

    .sm:col-1 {
        width: 8.3333%;
    }

    .sm:col-2 {
        width: 16.6667%;
    }

    .sm:col-3 {
        width: 25%;
    }

    .sm:col-4 {
        width: 33.3333%;
    }

    .sm:col-5 {
        width: 41.6667%;
    }

    .sm:col-6 {
        width: 50%;
    }

    .sm:col-7 {
        width: 58.3333%;
    }

    .sm:col-8 {
        width: 66.6667%;
    }

    .sm:col-9 {
        width: 75%;
    }

    .sm:col-10 {
        width: 83.3333%;
    }

    .sm:col-11 {
        width: 91.6667%;
    }

    .sm:col-12 {
        width: 100%;
    }

    .sm:col-offset-12 {
        margin-left: 100%;
    }

    .sm:col-offset-11 {
        margin-left: 91.66666667%;
    }

    .sm:col-offset-10 {
        margin-left: 83.33333333%;
    }

    .sm:col-offset-9 {
        margin-left: 75%;
    }

    .sm:col-offset-8 {
        margin-left: 66.66666667%;
    }

    .sm:col-offset-7 {
        margin-left: 58.33333333%;
    }

    .sm:col-offset-6 {
        margin-left: 50%;
    }

    .sm:col-offset-5 {
        margin-left: 41.66666667%;
    }

    .sm:col-offset-4 {
        margin-left: 33.33333333%;
    }

    .sm:col-offset-3 {
        margin-left: 25%;
    }

    .sm:col-offset-2 {
        margin-left: 16.66666667%;
    }

    .sm:col-offset-1 {
        margin-left: 8.33333333%;
    }

    .sm:col-offset-0 {
        margin-left: 0%;
    }
}
@media screen and (min-width: 768px) {
    .md:col-1,
    .md:col-2,
    .md:col-3,
    .md:col-4,
    .md:col-5,
    .md:col-6,
    .md:col-7,
    .md:col-8,
    .md:col-9,
    .md:col-10,
    .md:col-11,
    .md:col-12 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
    }

    .md:col-1 {
        width: 8.3333%;
    }

    .md:col-2 {
        width: 16.6667%;
    }

    .md:col-3 {
        width: 25%;
    }

    .md:col-4 {
        width: 33.3333%;
    }

    .md:col-5 {
        width: 41.6667%;
    }

    .md:col-6 {
        width: 50%;
    }

    .md:col-7 {
        width: 58.3333%;
    }

    .md:col-8 {
        width: 66.6667%;
    }

    .md:col-9 {
        width: 75%;
    }

    .md:col-10 {
        width: 83.3333%;
    }

    .md:col-11 {
        width: 91.6667%;
    }

    .md:col-12 {
        width: 100%;
    }

    .md:col-offset-12 {
        margin-left: 100%;
    }

    .md:col-offset-11 {
        margin-left: 91.66666667%;
    }

    .md:col-offset-10 {
        margin-left: 83.33333333%;
    }

    .md:col-offset-9 {
        margin-left: 75%;
    }

    .md:col-offset-8 {
        margin-left: 66.66666667%;
    }

    .md:col-offset-7 {
        margin-left: 58.33333333%;
    }

    .md:col-offset-6 {
        margin-left: 50%;
    }

    .md:col-offset-5 {
        margin-left: 41.66666667%;
    }

    .md:col-offset-4 {
        margin-left: 33.33333333%;
    }

    .md:col-offset-3 {
        margin-left: 25%;
    }

    .md:col-offset-2 {
        margin-left: 16.66666667%;
    }

    .md:col-offset-1 {
        margin-left: 8.33333333%;
    }

    .md:col-offset-0 {
        margin-left: 0%;
    }
}
@media screen and (min-width: 992px) {
    .lg:col-1,
    .lg:col-2,
    .lg:col-3,
    .lg:col-4,
    .lg:col-5,
    .lg:col-6,
    .lg:col-7,
    .lg:col-8,
    .lg:col-9,
    .lg:col-10,
    .lg:col-11,
    .lg:col-12 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
    }

    .lg:col-1 {
        width: 8.3333%;
    }

    .lg:col-2 {
        width: 16.6667%;
    }

    .lg:col-3 {
        width: 25%;
    }

    .lg:col-4 {
        width: 33.3333%;
    }

    .lg:col-5 {
        width: 41.6667%;
    }

    .lg:col-6 {
        width: 50%;
    }

    .lg:col-7 {
        width: 58.3333%;
    }

    .lg:col-8 {
        width: 66.6667%;
    }

    .lg:col-9 {
        width: 75%;
    }

    .lg:col-10 {
        width: 83.3333%;
    }

    .lg:col-11 {
        width: 91.6667%;
    }

    .lg:col-12 {
        width: 100%;
    }

    .lg:col-offset-12 {
        margin-left: 100%;
    }

    .lg:col-offset-11 {
        margin-left: 91.66666667%;
    }

    .lg:col-offset-10 {
        margin-left: 83.33333333%;
    }

    .lg:col-offset-9 {
        margin-left: 75%;
    }

    .lg:col-offset-8 {
        margin-left: 66.66666667%;
    }

    .lg:col-offset-7 {
        margin-left: 58.33333333%;
    }

    .lg:col-offset-6 {
        margin-left: 50%;
    }

    .lg:col-offset-5 {
        margin-left: 41.66666667%;
    }

    .lg:col-offset-4 {
        margin-left: 33.33333333%;
    }

    .lg:col-offset-3 {
        margin-left: 25%;
    }

    .lg:col-offset-2 {
        margin-left: 16.66666667%;
    }

    .lg:col-offset-1 {
        margin-left: 8.33333333%;
    }

    .lg:col-offset-0 {
        margin-left: 0%;
    }
}
@media screen and (min-width: 1200px) {
    .xl:col-1,
    .xl:col-2,
    .xl:col-3,
    .xl:col-4,
    .xl:col-5,
    .xl:col-6,
    .xl:col-7,
    .xl:col-8,
    .xl:col-9,
    .xl:col-10,
    .xl:col-11,
    .xl:col-12 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
    }

    .xl:col-1 {
        width: 8.3333%;
    }

    .xl:col-2 {
        width: 16.6667%;
    }

    .xl:col-3 {
        width: 25%;
    }

    .xl:col-4 {
        width: 33.3333%;
    }

    .xl:col-5 {
        width: 41.6667%;
    }

    .xl:col-6 {
        width: 50%;
    }

    .xl:col-7 {
        width: 58.3333%;
    }

    .xl:col-8 {
        width: 66.6667%;
    }

    .xl:col-9 {
        width: 75%;
    }

    .xl:col-10 {
        width: 83.3333%;
    }

    .xl:col-11 {
        width: 91.6667%;
    }

    .xl:col-12 {
        width: 100%;
    }

    .xl:col-offset-12 {
        margin-left: 100%;
    }

    .xl:col-offset-11 {
        margin-left: 91.66666667%;
    }

    .xl:col-offset-10 {
        margin-left: 83.33333333%;
    }

    .xl:col-offset-9 {
        margin-left: 75%;
    }

    .xl:col-offset-8 {
        margin-left: 66.66666667%;
    }

    .xl:col-offset-7 {
        margin-left: 58.33333333%;
    }

    .xl:col-offset-6 {
        margin-left: 50%;
    }

    .xl:col-offset-5 {
        margin-left: 41.66666667%;
    }

    .xl:col-offset-4 {
        margin-left: 33.33333333%;
    }

    .xl:col-offset-3 {
        margin-left: 25%;
    }

    .xl:col-offset-2 {
        margin-left: 16.66666667%;
    }

    .xl:col-offset-1 {
        margin-left: 8.33333333%;
    }

    .xl:col-offset-0 {
        margin-left: 0%;
    }
}

/*# sourceMappingURL=primeflex.css.map */
