$emphasis-high: rgba(0, 0, 0.87);
$emphasis-medium: rgba(0, 0, 0, 0.6);
$emphasis-low: rgba(0, 0, 0, 0.38);
$emphasis-lower: rgba(0, 0, 0, 0.12);

:root {
    --surface-0: #eaeaea;
    --surface-50: #dcdbdb;
    --surface-100: #dcdcdc;
    --surface-200: #d3d2d2;
    --surface-300: #c1c1c1;
    --surface-400: #9b9999;
    --surface-500: #7e7d7d;
    --surface-600: #555555;
    --surface-700: #474747;
    --surface-800: #363636;
    --surface-900: #1f1f1f;

    --mkj-border: #757575;
    --scrollbar-color: #757575;
    --scrollbar-color-hover: var(--surface-800);
}

$primaryColor: #006600;
$primaryLightColor: #66bb6a;
$primaryTextColor: #e8f5e9;
$primaryTextHoverColor: #ffffff;
$topBarColor: #006600;
$accentColor: #fbc02d;
$accentLightColor: #fff9c4;
$accentTextColor: #000000;
$activeMenuItemTextColor: #388e3c;
$darkActiveMenuItemTextColor: #4caf50;
$darkMenuItemTextColor: #dee0e3;
$darkMenuItemInactiveTextColor: #757575;
$darkMenuItemHoverBgColor: #545454;
$darkSidemenuBgColor: #343434;
$darkMenuBgColor: #424242;
$mkjErrorColor: #c51400fc;

@import "../../sass/theme/_variables";
@import "../../sass/theme/_variables_compact";
@import "../../sass/layout/layout";
@import "../../sass/theme/designer/_components";
@import "../../sass/theme/extensions/_vendor_extensions";
@import "../../sass/_mkj-overrides.scss";
