$emphasis-high: rgba(0, 0, 0.87);
$emphasis-medium: rgba(0, 0, 0, 0.6);
$emphasis-low: rgba(0, 0, 0, 0.38);
$emphasis-lower: rgba(0, 0, 0, 0.12);

:root {
    --surface-0: #eaeaea;
    --surface-50: #e4e4e4;
    --surface-100: #d3d3d3;
    --surface-200: #bebebe;
    --surface-300: #b1b1b1;
    --surface-400: #8d8d8d;
    --surface-500: #7e7e7e;
    --surface-600: #5c5c5c;
    --surface-700: #575757;
    --surface-800: #353535;
    --surface-900: #252525;

    --mkj-border: #757575;
    --scrollbar-color: #757575;
    --scrollbar-color-hover: var(--surface-800);
    --mkj-error-color: #{$mkjErrorColor};
}
