<span class="p-text-bold">Von: </span>
<p-inputMask
    mask="99. 99. 9999"
    [(ngModel)]="vonDatum"
    (onComplete)="checkVonDate()"
    [autoFocus]="true"
    [required]="true"
    placeholder="Tag. Monat. Jahr"
    slotChar="__. __. ____"
></p-inputMask>
<div style="height: 15px"></div>
<span class="p-text-bold">Bis:</span>
<p-inputMask
    mask="99. 99. 9999"
    [(ngModel)]="bisDatum"
    [required]="true"
    (onComplete)="checkBisDate()"
    placeholder="Tag. Monat. Jahr"
    slotChar="__. __. ____"
></p-inputMask>
