<app-mkj-toolbar
    [showAddButton]="true"
    (clickAdd)="openEditDialog()"
    addButtonTooltip="Noten anlegen"
    [headerLeft]="'Notenarchiv'"
    [addButtonPermissionFor]="[RoleType.ADMIN]"
></app-mkj-toolbar>

<p-table
    #notenTable
    [value]="notenArray"
    [loading]="loading"
    [globalFilterFields]="['titel', 'komponist', 'gattung', 'inventarId']"
    styleClass="p-datatable-striped p-datatable-sm p-datatable-noten rowexpand-table"
    dataKey="id"
    responsiveLayout="scroll"
    stateStorage="session"
    stateKey="notenTable-session"
    rowExpandMode="single"
    [(selection)]="selectedRow"
    [rowHover]="true"
    dataKey="id"
    selectionMode="single"
    (onRowSelect)="onRowSelect($event)"
    (onRowUnselect)="onRowUnselect($event)"
    (onFilter)="setFilteredRows($event)"
>
    <ng-template pTemplate="caption">
        <div
            class="p-d-flex p-flex-column p-flex-md-row p-jc-md-between p-ai-center"
        >
            <div class="p-m-2">
                Anzahl:
                {{ selectedNoten ? selectedNoten?.length + "/" : ""
                }}{{ notenArray?.length }}
            </div>

            <span class="p-input-icon-left">
                <i class="pi pi-search"></i>
                <input
                    pInputText
                    type="text"
                    [value]="globalFilterText"
                    (input)="
                        notenTable.filterGlobal($event.target.value, 'contains')
                    "
                    placeholder="Suchen..."
                />
            </span>
        </div>
    </ng-template>
    <ng-template pTemplate="header"
        ><tr>
            <th pSortableColumn="inventarId">
                Inv. Nr <p-sortIcon field="inventarId"></p-sortIcon>
            </th>
            <th pSortableColumn="titel">
                Titel <p-sortIcon field="titel"></p-sortIcon>
            </th>
            <th class="not-on-small">Komponist</th>
            <th class="not-on-small">Arrangeur</th>
            <th class="not-on-small">Verlag</th>
            <th class="not-on-small">Gattung</th>
            <th
                *visibleFor="[RoleType.ADMIN, RoleType.AUSSCHUSS]"
                class="not-on-small"
            ></th>
        </tr>
    </ng-template>
    <ng-template
        pTemplate="body"
        let-noten
        let-expanded="expanded"
        let-rowIndex="rowIndex"
    >
        <tr [pSelectableRow]="noten" [pSelectableRowIndex]="rowIndex">
            <td>{{ noten.inventarId }}</td>
            <td>
                {{ noten.titel }}
            </td>
            <td class="not-on-small">
                {{ noten.komponist }}
            </td>
            <td class="not-on-small">{{ noten.arrangeur }}</td>
            <td class="not-on-small">{{ noten.verlag }}</td>
            <td class="not-on-small">{{ noten.gattung }}</td>
            <td
                *visibleFor="[RoleType.ADMIN, RoleType.AUSSCHUSS]"
                class="not-on-small"
            >
                <div class="p-d-flex buttons-hide">
                    <button
                        pButton
                        pRipple
                        icon="pi pi-pencil"
                        class="p-button-text p-button-sm p-button-info p-mr-1"
                        (click)="openEditDialog(noten)"
                        pTooltip="Bearbeiten"
                        tooltipPosition="left"
                    ></button>
                    <button
                        pButton
                        pRipple
                        icon="pi pi-trash"
                        class="p-button-text p-button-sm p-button-danger"
                        (click)="deleteNoten(noten)"
                        pTooltip="  Löschen  "
                    ></button>
                </div>
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="rowexpansion" let-noten>
        <tr>
            <td colspan="12">
                <div class="p-col-12 p-d-flex p-jc-center">
                    <button
                        pButton
                        pRipple
                        label="Bearbeiten"
                        icon="pi pi-pencil"
                        class="p-button-outlined p-button-sm p-button-info p-mr-1"
                        (click)="openEditDialog(noten)"
                    ></button>
                    <button
                        pButton
                        pRipple
                        icon="pi pi-trash"
                        label="  Löschen  "
                        class="p-button-outlined p-button-sm p-button-danger"
                        (click)="deleteNoten(noten)"
                    ></button>
                </div>
            </td>
        </tr>
    </ng-template>
</p-table>

<!-- Save/Update Noten -->
<p-dialog
    [(visible)]="editDialogVisible"
    [breakpoints]="{ '960px': '75vw', '640px': '100vw' }"
    [style]="{ width: '75vw' }"
    [header]="editNoten?.id ? 'Noten aktualisieren' : 'Noten erstellen'"
    [modal]="true"
    styleClass="p-fluid"
    position="top"
>
    <ng-template pTemplate="content">
        <app-noten-editor [(noten)]="editNoten"></app-noten-editor>
    </ng-template>
    <ng-template pTemplate="footer">
        <button
            pButton
            pRipple
            label="Abbrechen"
            icon="pi pi-times"
            class="p-button-text"
            (click)="cancelEdit()"
        ></button>
        <button
            pButton
            pRipple
            label="Speichern"
            [icon]="isAdding ? 'pi pi-spin pi-spinner' : 'pi pi-check'"
            [disabled]="isAdding"
            class="p-button-plain"
            (click)="saveNoten()"
        ></button
    ></ng-template>
</p-dialog>

<!-- Löschbestätigung? -->
<p-confirmDialog
    [breakpoints]="{ '960px': '75vw', '640px': '100vw' }"
    [style]="{ width: '450px' }"
></p-confirmDialog>
