<app-mkj-toolbar
    [showAddButton]="true"
    [addButtonPermissions]="['create noten']"
    addButtonTooltip="Noten anlegen"
    [headerLeft]="'Konzerte'"
></app-mkj-toolbar>

<p-table
    #notenTable
    [value]="konzerte"
    [loading]="loading"
    [globalFilterFields]="['titel', 'komponist', 'gattung', 'inventarId']"
    styleClass="p-datatable-striped p-datatable-sm p-datatable-noten rowexpand-table"
    dataKey="id"
    responsiveLayout="scroll"
    stateStorage="session"
    stateKey="notenTable-session"
    rowExpandMode="single"
    [(selection)]="selectedRow"
    [rowHover]="true"
    dataKey="id"
    selectionMode="single"
>
    <ng-template pTemplate="body" let-konzert>
        <tr>
            <td>{{ konzert.name }}</td>
        </tr>
    </ng-template>
</p-table>
