<div class="p-grid p-mt-2">
    <div class="p-field p-col-12 p-lg-3 p-md-6 p-sm-12">
        <span class="p-float-label">
            <input
                type="text"
                pInputText
                inputId="name"
                [(ngModel)]="mitglied.vorname"
                required
            />

            <label for="name">Vorname</label>
        </span>
    </div>
    <div class="p-field p-col-12 p-lg-3 p-md-6 p-sm-12">
        <span class="p-float-label">
            <input
                type="text"
                pInputText
                inputId="name"
                [(ngModel)]="mitglied.zuname"
                required
            />

            <label for="name">Familienname</label>
        </span>
    </div>
    <div class="p-field p-col-12 p-lg-3 p-md-6 p-sm-12">
        <span class="p-float-label">
            <input
                type="text"
                pInputText
                inputId="name"
                [(ngModel)]="mitglied.titelVor"
            />

            <label for="name">Titel Vor</label>
        </span>
    </div>
    <div class="p-field p-col-12 p-lg-3 p-md-6 p-sm-12">
        <span class="p-float-label">
            <input
                type="text"
                pInputText
                inputId="name"
                [(ngModel)]="mitglied.titelNach"
            />

            <label for="name">Titel Nach</label>
        </span>
    </div>
    <div class="p-field p-col-12 p-lg-3 p-md-6 p-sm-12">
        <span class="p-float-label">
            <p-calendar
                inputId="geburtsdatum"
                [ngModel]="geburtsdatum"
                (ngModelChange)="setGeburtsdatum($event)"
                [showTime]="false"
                showIcon="true"
                [showButtonBar]="true"
                [touchUI]="true"
                [readonlyInput]="true"
                [appendTo]="'body'"
                required
            ></p-calendar>

            <label for="geburtsdatum">Geburtsdatum</label>
        </span>
    </div>
    <div class="p-field p-col-12 p-lg-3 p-md-6 p-sm-12">
        <span class="p-float-label">
            <p-dropdown
                [options]="mitgliedGeschlecht"
                inputId="geschlecht"
                [(ngModel)]="mitglied.geschlecht"
                optionLabel="name"
                optionValue="value"
                required
            ></p-dropdown>
            <label for="geschlecht">Geschlecht</label>
        </span>
    </div>

    <div class="p-field p-col-12 p-lg-3 p-md-6 p-sm-12">
        <span class="p-float-label">
            <input
                type="text"
                pInputText
                inputId="name"
                [(ngModel)]="mitglied.beruf"
            />

            <label for="name">Beruf</label>
        </span>
    </div>
</div>

<div class="p-grid p-mt-2"></div>

<div class="p-grid p-mt-2">
    <div class="p-field p-col-12 p-lg-3 p-md-6 p-sm-12">
        <span class="p-float-label">
            <input
                type="text"
                pInputText
                inputId="strasse"
                [(ngModel)]="mitglied.strasse"
                required
            />

            <label for="strasse">Straße</label>
        </span>
    </div>
    <div class="p-field p-col-12 p-lg-3 p-md-6 p-sm-12">
        <span class="p-float-label">
            <input
                type="text"
                pInputText
                inputId="name"
                [(ngModel)]="mitglied.hausnummer"
                required
            />

            <label for="name">Hausnummer</label>
        </span>
    </div>
    <div class="p-field p-col-12 p-lg-3 p-md-6 p-sm-12">
        <span class="p-float-label">
            <input
                type="text"
                pInputText
                inputId="name"
                [(ngModel)]="mitglied.ort"
                required
            />

            <label for="name">Ort</label>
        </span>
    </div>
    <div class="p-field p-col-12 p-lg-3 p-md-6 p-sm-12">
        <span class="p-float-label">
            <input
                type="text"
                pInputText
                inputId="name"
                [(ngModel)]="mitglied.plz"
                required
            />

            <label for="name">Postleitzahl</label>
        </span>
    </div>
    <div class="p-field p-col-12 p-lg-3 p-md-6 p-sm-12">
        <span class="p-float-label">
            <input
                type="email"
                pInputText
                inputId="name"
                [(ngModel)]="mitglied.email"
                [disabled]="personalMode"
                required
            />

            <label for="name">E-Mail</label>
        </span>
    </div>
    <div class="p-field p-col-12 p-lg-3 p-md-6 p-sm-12">
        <span class="p-float-label">
            <input
                type="text"
                pInputText
                inputId="name"
                [(ngModel)]="mitglied.telefonHaupt"
                required
            />

            <label for="name">Telefon Festnetz</label>
        </span>
    </div>
    <div class="p-field p-col-12 p-lg-3 p-md-6 p-sm-12">
        <span class="p-float-label">
            <input
                type="text"
                pInputText
                inputId="name"
                [(ngModel)]="mitglied.telefonMobil"
                required
            />

            <label for="name">Telefon Mobil</label>
        </span>
    </div>
</div>

<div *ngIf="!personalMode" class="p-grid p-mt-2">
    <div *ngIf="!personalMode" class="p-field p-col-12 p-lg-3 p-md-6 p-sm-12">
        <div style="height: 100%" class="p-d-flex p-jc-center p-ai-center">
            <p-checkbox
                [ngModel]="mitglied?.aktiv ? true : false"
                (ngModelChange)="mitglied.aktiv = $event"
                [binary]="true"
                label="Aktives Mitglied"
            ></p-checkbox>
        </div>
    </div>
    <div class="p-field p-col-12 p-lg-3 p-md-6 p-sm-12">
        <span class="p-float-label">
            <p-calendar
                inputId="eintrittDatum"
                [ngModel]="eintrittDatum"
                (ngModelChange)="setEintrittDatum($event)"
                [showTime]="false"
                showIcon="true"
                [showButtonBar]="true"
                [touchUI]="true"
                [readonlyInput]="true"
                [appendTo]="'body'"
            ></p-calendar>

            <label for="eintrittDatum">Datum Eintritt</label>
        </span>
    </div>
    <div class="p-field p-col-12 p-lg-3 p-md-6 p-sm-12">
        <span class="p-float-label">
            <p-calendar
                inputId="austrittDatum"
                [ngModel]="austrittDatum"
                (ngModelChange)="setAustrittDatum($event)"
                [showTime]="false"
                showIcon="true"
                [showButtonBar]="true"
                [touchUI]="true"
                [readonlyInput]="true"
                [appendTo]="'body'"
            ></p-calendar>

            <label for="austrittDatum">Datum Austritt</label>
        </span>
    </div>
</div>
