<div class="flex flex-column text-center">
    <h5>
        Anzahl Termine nach Kategorie
        <i *ngIf="loading" class="pi pi-spin pi-spinner"></i>
    </h5>
    <p *ngIf="!data?.labels?.length">Keine Daten verfügbar...</p>
    <p-chart type="pie" [data]="data" [options]="options"></p-chart>
    <div class="grid mt-3">
        <div class="p-field col-12 flex justify-content-center">
            <span class="p-float-label">
                <p-inputNumber
                    [(ngModel)]="year"
                    [showButtons]="true"
                    [useGrouping]="false"
                    mode="decimal"
                    inputId="yearpicker"
                    spinnerMode="horizontal"
                    incrementButtonIcon="pi pi-plus"
                    decrementButtonIcon="pi pi-minus"
                    [disabled]="loading"
                ></p-inputNumber>
                <label for="yearpicker">Jahr</label>
            </span>
        </div>
    </div>
</div>
