<div class="p-grid">
    <div class="p-col-12">
        <div
            class="card p-d-flex p-jc-center"
            *ngIf="nextAusrueckungLoading || nextAusrueckung"
        >
            <div style="text-align: center" *ngIf="nextAusrueckungLoading">
                <i class="pi pi-spin pi-spinner" style="font-size: 2rem"></i>
            </div>
            <div style="text-align: center" *ngIf="nextAusrueckung">
                <h4>Nächste Spielerei:</h4>
                <h2>{{ nextAusrueckung?.name }}</h2>
                <p>
                    {{ nextAusrueckung?.von | mkjDate: "E d. MMMM" }}
                    <b>{{ nextAusrueckung?.treffzeit | mkjDate: "hh:mm" }}</b>
                </p>
                <p>{{ nextAusrueckung?.ort }}</p>
                <p>{{ nextAusrueckung?.infoMusiker }}</p>
                <p>{{ nextAusrueckung?.beschreibung }}</p>
                <button
                    pButton
                    label="Alle Ausrückungen"
                    routerLink="/ausrueckungen"
                    class="p-button-outlined"
                    (click)="appMain.activeTabIndex = MenuLabels.AUSRUECKUNGEN"
                ></button>
            </div>
        </div>

        <div class="card p-d-flex p-jc-center">
            <div style="text-align: center">
                <h4>Hallo {{ currentMitglied?.vorname }}!</h4>
                <p>
                    Das ist die erste Demo-Version unserer App für die mobile
                    Vereinsverwaltung.
                </p>
            </div>
        </div>

        <div class="p-grid p-col-12">
            <div
                *ngIf="userService.userRoles[RoleType.ADMIN]"
                class="p-md-6 p-sm-12"
            >
                ADMIN
            </div>
            <div
                *ngIf="userService.userRoles[RoleType.AUSSCHUSS]"
                class="p-md-6 p-sm-12"
            >
                AUSSCHUSS
            </div>
        </div>
    </div>
</div>
