<ng-template #toolbarContentSection>
    <div class="flex justify-content-end mb-3">
        <button
            pButton
            icon="pi pi-times"
            class="p-button-text"
            (click)="
                toolbarService.contentSectionExpanded = false;
                toolbarService.buttons[0].highlighted = false
            "
        ></button>
    </div>
    <div class="flex gap-2 align-items-center">
        <mkj-date-input
            type="date"
            [value]="ausrueckungFilterInput.filter[0]?.value"
            (valueChanged)="setFilterInputDates(0, $event)"
            label="Filter Von"
            placeholder="Alle"
        ></mkj-date-input>
        <mkj-date-input
            type="date"
            [value]="ausrueckungFilterInput.filter[1]?.value"
            (valueChanged)="setFilterInputDates(1, $event)"
            label="Filter Bis"
            placeholder="Alle"
        ></mkj-date-input>
    </div>
    <p-divider></p-divider>
    <div class="flex flex-wrap justify-content-between align-items-center">
        <div>
            Anzahl:
            {{ filteredRows ? filteredRows.length : 0 }}
        </div>

        <span class="p-input-icon-left">
            <i class="pi pi-search"></i>
            <input
                pInputText
                type="text"
                [value]="dt.filters?.global?.value"
                (input)="dt.filterGlobal($event.target.value, 'contains')"
                placeholder="Suchen..."
            />
        </span>
    </div>
</ng-template>

<div class="grid">
    <div class="col-12">
        <p-table
            #mitgliederTable
            [value]="mitglieder"
            [loading]="loading"
            [globalFilterFields]="['vorname', 'zuname', 'email']"
            responsiveLayout="stack"
            styleClass="p-datatable-sm p-datatable-mitglieder p-datatable-striped"
        >
            <ng-template pTemplate="caption">
                <div
                    class="flex flex-column flex-md-row justify-content-md-between align-items-center table-header"
                >
                    <div class="mb-2">
                        Anzahl:
                        {{ mitglieder?.length || "-" }}
                    </div>
                    <span class="p-input-icon-left">
                        <i class="pi pi-search"></i>
                        <input
                            pInputText
                            type="text"
                            (input)="
                                mitgliederTable.filterGlobal(
                                    $event.target.value,
                                    'contains'
                                )
                            "
                            placeholder="Suchen..."
                        />
                    </span>
                </div>
            </ng-template>
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th pSortableColumn="zuname">
                        Name <p-sortIcon field="zuname"></p-sortIcon>
                    </th>
                    <th class="not-on-small">Adresse</th>
                    <th>E-Mail</th>
                    <th class="not-on-small">Mobil-Nr.</th>
                    <th></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-mitglied let-columns="columns">
                <tr [pSelectableRow]="mitglied">
                    <td>
                        <b>{{ mitglied?.vorname }} {{ mitglied?.zuname }}</b>

                        <button
                            pButton
                            (click)="navigateSingleMitglied(mitglied)"
                            pTooltip="Details"
                            tooltipPosition="left"
                            icon="pi pi-ellipsis-h"
                            class="just-on-small p-button-sm p-button-text buttons-hide p-button-info"
                        ></button>
                    </td>
                    <td>
                        {{ mitglied?.strasse }} {{ mitglied?.hausnummer }}
                        {{ mitglied?.plz }} {{ mitglied?.ort }}
                    </td>
                    <td>{{ mitglied?.email }}</td>
                    <td>{{ mitglied.telefonMobil }}</td>
                    <td class="not-on-small">
                        <button
                            pButton
                            (click)="navigateSingleMitglied(mitglied)"
                            pTooltip="Details"
                            tooltipPosition="left"
                            icon="pi pi-ellipsis-h"
                            class="p-button-sm p-button-text buttons-hide p-button-info p-2"
                        ></button>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>

<!-- Create Mitglied -->
<p-dialog
    [(visible)]="editDialogVisible"
    [breakpoints]="{ '960px': '75vw', '640px': '100vw' }"
    [style]="{ width: '75vw' }"
    [header]="'Mitglied erstellen'"
    [modal]="true"
    styleClass="p-fluid"
    position="top"
>
    <ng-template pTemplate="content">
        <mkj-mitglied-form [formGroup]="formGroup"></mkj-mitglied-form>
    </ng-template>
    <ng-template pTemplate="footer">
        <button
            pButton
            pRipple
            label="Abbrechen"
            icon="pi pi-times"
            class="p-button-text"
            (click)="cancelAdd()"
        ></button>
        <button
            pButton
            pRipple
            label="Speichern"
            [icon]="isAdding ? 'pi pi-spin pi-spinner' : 'pi pi-check'"
            class="p-button-plain"
            [disabled]="isAdding || formGroup?.invalid"
            (click)="saveMitglied()"
        ></button
    ></ng-template>
</p-dialog>

<!-- Filter Dialog -->
<p-dialog
    #filterDialog
    [(visible)]="filterDialogVisible"
    [closable]="false"
    [dismissableMask]="true"
    [modal]="true"
    styleClass="p-fluid"
    position="top"
>
    <ng-template pTemplate="content">
        <div class="flex flex-column">
            <button
                pButton
                type="button"
                class="p-button-lg mb-4"
                label="Aktive Mitglieder"
                (click)="loadAktiveMitglieder(); filterDialogVisible = false"
            ></button>
            <button
                pButton
                type="button"
                class="p-button-lg"
                label="Alle Mitglieder"
                (click)="loadAllMitglieder(); filterDialogVisible = false"
            ></button>
        </div>
    </ng-template>
    <ng-template pTemplate="footer">
        <div style="height: 10px"></div>
    </ng-template>
</p-dialog>
