<div class="grid">
    <div class="col-12" *ngIf="appMain.publicTestEnvironment">
        <div class="card flex justify-content-center">
            <h3>TESTUMGEBUNG</h3>
        </div>
    </div>

    <div class="md:col-6 col-12">
        <div class="card">
            <next-termin></next-termin>
        </div>
    </div>

    <div class="md:col-6 col-12">
        <div class="card text-center">
            <h4>Hallo {{ currentMitglied?.vorname }}!</h4>
            <p>
                Das ist die erste Demo-Version unserer App für die mobile
                Vereinsverwaltung.
            </p>
            <p *ngIf="appMain.publicTestEnvironment">
                Du kannst hier rumklicksen wie du willst - nichts kann kaputt
                werden! Aber bitte sei so gut und gib mir einen kurzen
                Bug-Report wenn du einen Fehler/Fehlermeldung etc. entdeckst
                oder du einen Verbesserungsvorschlag hast.
            </p>
        </div>
    </div>

    <div class="md:col-6 col-12">
        <div class="card flex justify-content-center">
            <statistik-termine></statistik-termine>
        </div>
    </div>
    <div class="md:col-6 col-12">
        <div class="card">
            <statistik-noten></statistik-noten>
        </div>
    </div>
</div>
