<div class="grid">
  <div class="col-12 flex justify-content-center">
    <div class="card max-w-30rem flex flex-column gap-4 justify-content-center">
      <p class="text-color-secondary">
        {{ calendarSubUrl }}
      </p>
      <button
        pButton
        pRipple
        label="In Zwischenablage kopieren"
        class="p-button-secondary p-button-rounded p-button-raised"
        (click)="copyToClipboard()"
      ></button>
      <p>
        Mit diesem Link kannst du alle Termine mit deinem Mobil-Kalender synchronisieren. Diese Funktion ist noch in der
        Testphase, sollte aber zumindest auf iPhones bereits tadellos funktionieren.
      </p>
    </div>
  </div>
  <div class="md:col-6 col-12">
    <div class="card">
      <h5>Anleitung für iPhone</h5>
      <ul class="unordered-list">
        <li>Kopiere den Link</li>
        <li>Öffne die iPhone Kalender-APP</li>
        <li>Tippe unten auf <span class="text-primary"> "Kalender" </span></li>
        <li>Tippe links unten auf <span class="text-primary"> "Hinzufügen" </span></li>
        <li>Wähle <span class="text-primary"> "Kalenderabonnement hinzufügen" </span></li>
        <li>Kopiere den Link in das Eingabefeld <span class="text-primary">"ABO-URL"</span></li>
        <li>Tippe <span class="text-primary">"Abonnieren"</span></li>
      </ul>
    </div>
  </div>
  <div class="md:col-6 col-12">
    <div class="card">
      <h5>Anleitung für Android</h5>
      <ul class="unordered-list">
        <li>Dein Google-Konto muss auf deinem Smartphone aktiviert sein!</li>
        <li>
          In den Google-Konto Synchronisations-Einstellungen muss der Punk
          <span class="text-primary"> "Kalender" </span> aktiviert sein!
        </li>
        <li>
          Wechsle auf einen <span class="text-primary">Desktop-PC</span> und öffne
          <span class="text-primary">"calendar.google.com"</span>
        </li>
        <li>Beachte: Du musst mit dem entsprechenden Google-Konto angemeldet sein!</li>
        <li>
          Klicke links bei <span class="text-primary">"Weitere Kalender"</span> auf das
          <span class="text-primary">"+"</span>-Symbol
        </li>
        <li>Wähle <span class="text-primary"> "Per URL" </span></li>
        <li>Kopiere den obigen Link in das Eingabefeld <span class="text-primary"> "URL des Kalenders" </span> .</li>
        <li>Der Kalender sollte nicht öffentlich gemacht werden - also nichts anhackerln!</li>
        <li>Tippe <span class="text-primary"> "Kalender hinzufügen" </span></li>
        <li>
          Alle Termine werden nun mit deinem Google-Kalender und dementsprechend auch mit deinem
          Google-Smartphone-Kalender synchronisiert
        </li>
      </ul>
    </div>
  </div>
</div>
