<div [formGroup]="form" class="p-fluid grid" style="margin-top: 5px">
    <div class="p-field col-12 md:col-6">
        <div
            style="height: 100%"
            class="flex justify-content-center align-items-center"
        >
            <!-- <p-checkbox
                [binary]="true"
                label="Öffentlich"
                formControlName="oeffentlich"
                [pTooltip]="
                    ausrueckung?.oeffentlich
                        ? 'Wird auf mk-jainzen angezeigt'
                        : 'Wird nicht auf mk-jainzen.at angezeigt'
                "
            ></p-checkbox> -->
        </div>
    </div>
    <div class="p-field col-12 md:col-6">
        <span class="p-float-label">
            <input
                type="text"
                formControlName="name"
                pInputText
                inputId="name"
                required
            />
            <small class="p-error" *ngIf="form?.controls.name.invalid"
                >Name ist erforderlich!</small
            >
            <label for="name">Name</label>
        </span>
    </div>

    <div class="p-field col-12 md:col-6">
        <mkj-date-input
            type="date"
            formControlName="vonDatum"
            label="Datum"
        ></mkj-date-input>
    </div>
    <div class="p-field col-12 md:col-6">
        <mkj-date-input
            type="time"
            formControlName="vonZeit"
            label="Beginnzeit"
        ></mkj-date-input>
    </div>
    <div class="p-field col-12 md:col-6">
        <mkj-date-input
            type="date"
            formControlName="bisDatum"
            label="Enddatum"
        ></mkj-date-input>
    </div>
    <div class="p-field col-12 md:col-6">
        <mkj-date-input
            type="time"
            formControlName="bisZeit"
            label="Endzeit"
        ></mkj-date-input>
    </div>
    <div class="p-field col-12 md:col-6">
        <mkj-date-input
            type="time"
            formControlName="treffzeit"
            label="Zusammenkunft"
        ></mkj-date-input>
    </div>

    <div class="p-field col-12 md:col-6">
        <span class="p-float-label">
            <input type="text" formControlName="ort" pInputText inputId="ort" />

            <label for="ort">Ort</label>
        </span>
    </div>
    <div class="p-field col-12 md:col-6">
        <span class="p-float-label">
            <p-dropdown
                inputId="kategorie"
                formControlName="kategorie"
                [options]="kategorien"
                required
            ></p-dropdown>
            <small class="p-error" *ngIf="form?.controls.kategorie.invalid"
                >Kategorie ist erforderlich!</small
            >
            <label for="kategorie">Kategorie</label>
        </span>
    </div>
    <div class="p-field col-12 md:col-6">
        <span class="p-float-label">
            <p-dropdown
                inputId="status"
                formControlName="status"
                [options]="status"
                required
                ><ng-template pTemplate="selectedItem">
                    <div
                        *ngIf="form?.controls.status?.value"
                        [class]="
                            'ausrueckungen-badge status-' +
                            (form?.controls.status?.value?.value
                                ? form?.controls.status?.value?.value.toLowerCase()
                                : '')
                        "
                    >
                        {{ form?.controls.status?.value?.label }}
                    </div>
                </ng-template>
                <ng-template let-status pTemplate="item">
                    <div [class]="'ausrueckungen-badge status-' + status.value">
                        {{ status?.label }}
                    </div>
                </ng-template></p-dropdown
            >

            <small class="p-error" *ngIf="form?.controls.status.invalid"
                >Status ist erforderlich!</small
            >
            <label for="status">Status</label>
        </span>
    </div>
    <div class="p-field col-12">
        <span class="p-float-label">
            <textarea
                id="beschreibung"
                formControlName="beschreibung"
                pInputTextarea
                rows="2"
                cols="20"
            ></textarea>
            <label for="beschreibung">Beschreibung</label>
        </span>
    </div>
    <div class="p-field col-12">
        <span class="p-float-label">
            <textarea
                type="text"
                formControlName="infoMusiker"
                pInputTextarea
                id="infoMusiker"
                rows="2"
                cols="20"
            ></textarea>
            <label for="infoMusiker">Infos für die Musiker</label>
        </span>
    </div>
</div>
