<div [formGroup]="formGroup" class="p-fluid grid">
    <div class="p-field col-12 lg:col-3 md:col-6">
        <span class="p-float-label">
            <input
                type="text"
                formControlName="name"
                pInputText
                inputId="name"
                class="ng-dirty"
            />
            <!-- <small class="p-error" *ngIf="formGroup?.controls.name.invalid"
                >Name ist erforderlich!</small
            > -->
            <label for="name">Name</label>
        </span>
    </div>
    <div class="p-field col-12 lg:col-3 md:col-6">
        <span class="p-float-label">
            <p-dropdown
                inputId="status"
                formControlName="status"
                [options]="StatusMap"
                [autoDisplayFirst]="false"
                class="ng-dirty"
                ><ng-template pTemplate="selectedItem" let-status>
                    <div
                        [class]="
                            'ausrueckungen-badge status-' +
                            (status.value ? status.value.toLowerCase() : '')
                        "
                    >
                        {{ status.label }}
                    </div>
                </ng-template>
                <ng-template let-status pTemplate="item">
                    <div [class]="'ausrueckungen-badge status-' + status.value">
                        {{ status?.label }}
                    </div>
                </ng-template></p-dropdown
            >

            <label for="status">Status</label>
        </span>
    </div>
    <div class="p-field col-12 lg:col-3 md:col-6">
        <span class="p-float-label">
            <p-dropdown
                inputId="kategorie"
                formControlName="kategorie"
                [options]="KategorieMap"
                [autoDisplayFirst]="false"
                class="ng-dirty"
            ></p-dropdown>

            <label for="kategorie">Kategorie</label>
        </span>
    </div>
    <div class="p-field col-12 lg:col-3 md:col-6">
        <span class="p-float-label">
            <p-dropdown
                inputId="gruppe"
                formControlName="gruppe_id"
                [options]="GruppenMap"
                [autoDisplayFirst]="false"
                [showClear]="true"
            ></p-dropdown>
            <label for="gruppe">Register/Gruppe</label>
        </span>
    </div>
    <div class="p-field col-12 lg:col-3 md:col-6">
        <span class="p-float-label">
            <input type="text" formControlName="ort" pInputText inputId="ort" />
            <label for="ort">Ort</label>
        </span>
    </div>
    <div class="p-field col-12">
        <span class="p-float-label">
            <textarea
                type="text"
                formControlName="infoMusiker"
                pInputTextarea
                id="infoMusiker"
                rows="2"
                cols="20"
            ></textarea>
            <label for="infoMusiker">Infos für die Musiker</label>
        </span>
    </div>

    <p-divider class="col-12" align="left"><h6>Datum & Uhrzeit</h6></p-divider>

    <div class="p-field col-12 md:col-6">
        <div class="p-inputgroup">
            <mkj-date-input
                type="date"
                formControlName="vonDatum"
                label="Datum"
                class="p-inputgroup von-datum-input"
            ></mkj-date-input>
            <p-checkbox
                class="p-inputgroup-addon checkbox"
                [binary]="true"
                label="Mehrtägig"
                [(ngModel)]="severalDays"
                (ngModelChange)="onSeveralDaysUserChange($event)"
                [ngModelOptions]="{ standalone: true }"
            >
            </p-checkbox>
        </div>
    </div>
    <div *ngIf="severalDays" class="p-field col-12 md:col-6">
        <mkj-date-input
            type="date"
            formControlName="bisDatum"
            label="Enddatum"
        ></mkj-date-input>
    </div>
    <div class="p-field col-12 md:col-6">
        <mkj-date-input
            type="time"
            formControlName="vonZeit"
            label="Offizieller Beginn"
        ></mkj-date-input>
    </div>
    <div class="p-field col-12 md:col-6">
        <mkj-date-input
            type="time"
            formControlName="bisZeit"
            label="Voraussichtliches Ende"
        ></mkj-date-input>
    </div>
    <div class="p-field col-12 md:col-6">
        <mkj-date-input
            type="time"
            formControlName="treffzeit"
            label="Zusammenkunft um"
        ></mkj-date-input>
    </div>

    <p-divider class="col-12" align="left"></p-divider>

    <div class="p-field col-12 md:col-6">
        <mkj-boolean-input
            label="Öffentlich"
            formControlName="oeffentlich"
        ></mkj-boolean-input>
    </div>
    <div *ngIf="formGroup.controls.oeffentlich.value" class="p-field col-12">
        <span class="p-float-label">
            <textarea
                id="beschreibung"
                formControlName="beschreibung"
                pInputTextarea
                rows="2"
                cols="20"
            ></textarea>
            <label for="beschreibung">Beschreibung</label>
        </span>
    </div>
</div>
