<mkj-content-loader [loading]="loading" class="h-full">
    <div class="card">
        <mkj-noten-form [formGroup]="formGroup"></mkj-noten-form>
        <div class="col-12 flex justify-content-end">
            <button
                pRipple
                pButton
                label="Speichern"
                [icon]="saving ? 'pi pi-spin pi-spinner' : 'pi pi-check'"
                class="p-button-plain"
                [disabled]="saving || formGroup?.invalid || formGroup?.pristine"
                (click)="saveNoten()"
            ></button>
        </div>
    </div>
</mkj-content-loader>
