<div [formGroup]="formGroup" class="p-fluid grid align-items-center">
    <div class="p-field col-12 lg:col-3 md:col-6">
        <span class="p-float-label">
            <input
                type="text"
                formControlName="name"
                pInputText
                inputId="name"
                class="ng-dirty"
            />
            <label for="name">Gruppenname</label>
        </span>
    </div>
    <div class="p-field col-12 lg:col-3 md:col-6">
        <span class="p-float-label">
            <p-autoComplete
                [(ngModel)]="gruppenleiter"
                (ngModelChange)="setGruppenleiter($event?.mitglied)"
                [ngModelOptions]="{ standalone: true }"
                [suggestions]="mitgliederSearchResult"
                (completeMethod)="searchMitglieder($event)"
                [forceSelection]="true"
                [autoHighlight]="true"
                dataKey="id"
                inputId="gruppenleiter"
                field="name"
            >
                <ng-template let-mitglied pTemplate="item">
                    <div>
                        {{ mitglied.mitglied | fullName }}
                    </div>
                </ng-template>
            </p-autoComplete>
            <label for="gruppenleiter">Gruppenleiter</label>
        </span>
    </div>

    <div class="p-field col-12 lg:col-3 md:col-6">
        <div class="flex align-items-center">
            <div>Farbe:</div>
            <p-colorPicker formControlName="color" class="ml-3"></p-colorPicker>
        </div>
    </div>
</div>
