<p-tabView [class.p-disabled]="saving">
    <p-tabPanel header="UI Naming">
        <app-ui-naming-config
            [namingConfig]="uiConfig.uiNaming"
        ></app-ui-naming-config>
    </p-tabPanel>
    <p-tabPanel [header]="configService.uiNaming.Termine">
        <div class="flex flex-column gap-2">
            <h4>Kategorien</h4>
            <mkj-dropdown-options-edit
                [options]="uiConfig.terminConfig.terminKategorien"
            ></mkj-dropdown-options-edit>
        </div>
    </p-tabPanel>
    <p-tabPanel [header]="configService.uiNaming.Noten">
        <div class="flex flex-column gap-2">
            <h4>Gattungen</h4>
            <mkj-dropdown-options-edit
                [options]="uiConfig.notenConfig.notenGattungen"
            ></mkj-dropdown-options-edit>
        </div>
    </p-tabPanel>
</p-tabView>
