<div class="card">
    <div class="grid col-12">
        <div class="md:col-8 sm:col-12">
            <div>
                <b
                    >{{ mitglied?.titelVor }} {{ mitglied?.vorname }}
                    {{ mitglied?.zuname }} {{ mitglied?.titelNach }}</b
                >
            </div>
            <div *ngIf="mitglied?.geburtsdatum">
                Geburtsdatum: {{ mitglied?.geburtsdatum | mkjDate }}
            </div>
            <div *ngIf="mitglied?.strasse">
                Adresse: {{ mitglied?.strasse }} {{ mitglied?.hausnummer }}
                {{ mitglied?.plz }} {{ mitglied?.ort }}
            </div>
            <div *ngIf="mitglied?.email">
                E-Mail:
                {{ mitglied?.email }}
            </div>
            <div *ngIf="mitglied?.telefonMobil">
                Handy: {{ mitglied?.telefonMobil }}
            </div>
            <div *ngIf="mitglied?.telefonHaupt">
                Festnetz: {{ mitglied?.telefonHaupt }}
            </div>
            <div *ngIf="mitglied?.eintrittDatum">
                Datum Eintritt: {{ mitglied?.eintrittDatum }}
            </div>
        </div>
    </div>
</div>
<div class="md:col-6 sm:col-12">
    <mitglied-roles-picker [mitglied]="mitglied"></mitglied-roles-picker>
</div>

<!-- Save/Update Mitglied -->
<p-dialog
    [(visible)]="editDialogVisible"
    [breakpoints]="{ '960px': '75vw', '640px': '100vw' }"
    [style]="{ width: '75vw' }"
    [header]="'Mitglied bearbeiten'"
    [modal]="true"
    styleClass="p-fluid"
    position="top"
>
    <ng-template pTemplate="content">
        <app-mitglied-editor [(mitglied)]="editMitglied"></app-mitglied-editor>
    </ng-template>
    <ng-template pTemplate="footer">
        <button
            pButton
            pRipple
            label="Abbrechen"
            icon="pi pi-times"
            class="p-button-text"
            (click)="cancelEdit()"
        ></button>
        <button
            pButton
            pRipple
            label="Speichern"
            icon="pi pi-check"
            [icon]="mitgliedSaving ? 'pi pi-spin pi-spinner' : 'pi pi-save'"
            [disabled]="mitgliedSaving"
            class="p-button-plain"
            (click)="saveMitglied()"
        ></button
    ></ng-template>
</p-dialog>
