<div class="grid flexbox-demo">
    <div class="col-12">
        <h4>FlexBox</h4>
        <p>
            Easily manage the layout of your components with the responsive
            FlexBox utilities. If you require a utility to manage the layout of
            your application, refer to the
            <a [routerLink]="['/utilities/grid']">Grid System</a> instead.
        </p>

        <h5>Flex Container</h5>
        <p>
            An element can configured as a flexbox container using the
            <i>flex</i> or <i>inline-flex</i> classes.
        </p>

        <app-code lang="markup" ngPreserveWhitespaces ngNonBindable>
            &lt;div class="flex"&gt;Flex Container&lt;/div&gt; &lt;div
            class="inline-flex"&gt;Inline Flex Container&lt;/div&gt;
        </app-code>

        <div class="box flex mb-3">Flex Container</div>
        <div class="box inline-flex">Inline Flex Container</div>

        <h5>Direction</h5>
        <p>
            Default is applied using the
            <i>flex-&#123;direction&#125;</i> class where direction can be
            either of the following.
        </p>
        <ul>
            <li>row (default)</li>
            <li>row-reverse</li>
            <li>column</li>
            <li>column-reverse</li>
        </ul>

        <h6>Row</h6>
        <app-code lang="markup" ngPreserveWhitespaces ngNonBindable>
            &lt;div class="flex"&gt; &lt;div class="mr-2"&gt;Item 1&lt;/div&gt;
            &lt;div class="mr-2"&gt;Item 2&lt;/div&gt; &lt;div&gt;Item
            3&lt;/div&gt; &lt;/div&gt;
        </app-code>

        <div class="flex">
            <div class="mr-2">Item 1</div>
            <div class="mr-2">Item 2</div>
            <div>Item 3</div>
        </div>

        <h6>Column</h6>
        <app-code lang="markup" ngPreserveWhitespaces ngNonBindable>
            &lt;div class="flex flex-column"&gt; &lt;div class="mb-2"&gt;Item
            1&lt;/div&gt; &lt;div class="mb-2"&gt;Item 2&lt;/div&gt;
            &lt;div&gt;Item 3&lt;/div&gt; &lt;/div&gt;
        </app-code>

        <div class="flex flex-column">
            <div class="mb-2">Item 1</div>
            <div class="mb-2">Item 2</div>
            <div>Item 3</div>
        </div>

        <h6>Responsive</h6>
        <p>Row direction for larger screens and column for smaller.</p>

        <app-code lang="markup" ngPreserveWhitespaces ngNonBindable>
            &lt;div class="flex flex-column flex-md-row"&gt; &lt;div class="mb-2
            mr-2"&gt;Item 1&lt;/div&gt; &lt;div class="mb-2 mr-2"&gt;Item
            2&lt;/div&gt; &lt;div class="mb-2 mr-2"&gt;Item 3&lt;/div&gt;
            &lt;/div&gt;
        </app-code>

        <div class="flex flex-column flex-md-row">
            <div class="mb-2 mr-2">Item 1</div>
            <div class="mb-2 mr-2">Item 2</div>
            <div class="mb-2 mr-2">Item 3</div>
        </div>

        <h6>Direction Classes</h6>
        <ul>
            <li>flex-row</li>
            <li>flex-row-reverse</li>
            <li>flex-column</li>
            <li>flex-column-reverse</li>
            <li>flex-sm-row</li>
            <li>flex-sm-row-reverse</li>
            <li>flex-sm-column</li>
            <li>flex-sm-column-reverse</li>
            <li>flex-md-row</li>
            <li>flex-md-row-reverse</li>
            <li>flex-md-column</li>
            <li>flex-md-column-reverse</li>
            <li>flex-lg-row</li>
            <li>flex-lg-row-reverse</li>
            <li>flex-lg-column</li>
            <li>flex-lg-column-reverse</li>
            <li>flex-xl-row</li>
            <li>flex-xl-row-reverse</li>
            <li>flex-xl-column</li>
            <li>flex-xl-column-reverse</li>
        </ul>

        <h5>Order</h5>
        <p>
            Order configures the way in which they appear in the flex container.
            <i>flex-order-&#123;value&#125;</i> format is used where value can
            be a number from 0 to 6.
        </p>

        <h6>Customized</h6>
        <app-code lang="markup" ngPreserveWhitespaces ngNonBindable>
            &lt;div class="flex"&gt; &lt;div class="mr-2 flex-order-3"&gt;Item
            1&lt;/div&gt; &lt;div class="mr-2 flex-order-1"&gt;Item
            2&lt;/div&gt; &lt;div class="mr-2 flex-order-2"&gt;Item
            3&lt;/div&gt; &lt;/div&gt;
        </app-code>

        <div class="flex">
            <div class="mr-2 flex-order-3">Item 1</div>
            <div class="mr-2 flex-order-1">Item 2</div>
            <div class="mr-2 flex-order-2">Item 3</div>
        </div>

        <h6>Responsive</h6>
        <p>Orders change depending on the screen size.</p>
        <app-code lang="markup" ngPreserveWhitespaces ngNonBindable>
            &lt;div class="flex"&gt; &lt;div class="mr-2 flex-order-3
            flex-order-md-2"&gt;Item 1&lt;/div&gt; &lt;div class="mr-2
            flex-order-1 flex-order-md-3"&gt;Item 2&lt;/div&gt; &lt;div
            class="mr-2 flex-order-2 flex-order-md-1"&gt;Item 3&lt;/div&gt;
            &lt;/div&gt;
        </app-code>

        <div class="flex">
            <div class="mr-2 flex-order-3 flex-order-md-2">Item 1</div>
            <div class="mr-2 flex-order-1 flex-order-md-3">Item 2</div>
            <div class="mr-2 flex-order-2 flex-order-md-1">Item 3</div>
        </div>

        <h6>Order Classes</h6>
        <ul>
            <li>flex-order-0</li>
            <li>flex-order-1</li>
            <li>flex-order-2</li>
            <li>flex-order-3</li>
            <li>flex-order-4</li>
            <li>flex-order-5</li>
            <li>flex-order-6</li>
            <li>flex-order-sm-0</li>
            <li>flex-order-sm-1</li>
            <li>flex-order-sm-2</li>
            <li>flex-order-sm-3</li>
            <li>flex-order-sm-4</li>
            <li>flex-order-sm-5</li>
            <li>flex-order-sm-6</li>
            <li>flex-order-md-0</li>
            <li>flex-order-md-1</li>
            <li>flex-order-md-2</li>
            <li>flex-order-md-3</li>
            <li>flex-order-md-4</li>
            <li>flex-order-md-5</li>
            <li>flex-order-md-6</li>
            <li>flex-order-lg-0</li>
            <li>flex-order-lg-1</li>
            <li>flex-order-lg-2</li>
            <li>flex-order-lg-3</li>
            <li>flex-order-lg-4</li>
            <li>flex-order-lg-5</li>
            <li>flex-order-lg-6</li>
            <li>flex-order-xl-0</li>
            <li>flex-order-xl-1</li>
            <li>flex-order-xl-2</li>
            <li>flex-order-xl-3</li>
            <li>flex-order-xl-4</li>
            <li>flex-order-xl-5</li>
            <li>flex-order-xl-6</li>
        </ul>

        <h5>Wrap</h5>
        <p>
            Flex wrap defines the wrap behavior when there is not enough space
            in the container. The format of the class is
            <i>flex-&#123;value&#125;</i> and the value field can be either of
            the listed alternatives.
        </p>

        <ul>
            <li>nowrap (default)</li>
            <li>wrap</li>
            <li>wrap-reverse</li>
        </ul>

        <h6>No Wrap</h6>
        <app-code lang="markup" ngPreserveWhitespaces ngNonBindable>
            &lt;div class="flex"&gt; &lt;div class="mr-2 mb-2"&gt;Item
            1&lt;/div&gt; &lt;div class="mr-2 mb-2"&gt;Item 2&lt;/div&gt;
            &lt;div class="mr-2 mb-2"&gt;Item 3&lt;/div&gt; &lt;div class="mr-2
            mb-2"&gt;Item 4&lt;/div&gt; &lt;div class="mr-2 mb-2"&gt;Item
            5&lt;/div&gt; &lt;div class="mr-2 mb-2"&gt;Item 6&lt;/div&gt;
            &lt;/div&gt;
        </app-code>

        <div class="flex">
            <div class="mr-2 mb-2">Item 1</div>
            <div class="mr-2 mb-2">Item 2</div>
            <div class="mr-2 mb-2">Item 3</div>
            <div class="mr-2 mb-2">Item 4</div>
            <div class="mr-2 mb-2">Item 5</div>
            <div class="mr-2 mb-2">Item 6</div>
        </div>

        <h6>Wrap</h6>
        <app-code lang="markup" ngPreserveWhitespaces ngNonBindable>
            &lt;div class="flex flex-wrap"&gt; &lt;div class="mr-2 mb-2"&gt;Item
            1&lt;/div&gt; &lt;div class="mr-2 mb-2"&gt;Item 2&lt;/div&gt;
            &lt;div class="mr-2 mb-2"&gt;Item 3&lt;/div&gt; &lt;div class="mr-2
            mb-2"&gt;Item 4&lt;/div&gt; &lt;div class="mr-2 mb-2"&gt;Item
            5&lt;/div&gt; &lt;div class="mr-2 mb-2"&gt;Item 6&lt;/div&gt;
            &lt;/div&gt;
        </app-code>

        <div class="flex flex-wrap">
            <div class="mr-2 mb-2">Item 1</div>
            <div class="mr-2 mb-2">Item 2</div>
            <div class="mr-2 mb-2">Item 3</div>
            <div class="mr-2 mb-2">Item 4</div>
            <div class="mr-2 mb-2">Item 5</div>
            <div class="mr-2 mb-2">Item 6</div>
        </div>

        <h6>Wrap Reverse</h6>
        <app-code lang="markup" ngPreserveWhitespaces ngNonBindable>
            &lt;div class="flex flex-wrap-reverse"&gt; &lt;div class="mr-2
            mb-2"&gt;Item 1&lt;/div&gt; &lt;div class="mr-2 mb-2"&gt;Item
            2&lt;/div&gt; &lt;div class="mr-2 mb-2"&gt;Item 3&lt;/div&gt;
            &lt;div class="mr-2 mb-2"&gt;Item 4&lt;/div&gt; &lt;div class="mr-2
            mb-2"&gt;Item 5&lt;/div&gt; &lt;div class="mr-2 mb-2"&gt;Item
            6&lt;/div&gt; &lt;/div&gt;
        </app-code>

        <div class="flex flex-wrap-reverse">
            <div class="mr-2 mb-2">Item 1</div>
            <div class="mr-2 mb-2">Item 2</div>
            <div class="mr-2 mb-2">Item 3</div>
            <div class="mr-2 mb-2">Item 4</div>
            <div class="mr-2 mb-2">Item 5</div>
            <div class="mr-2 mb-2">Item 6</div>
        </div>

        <h6>Wrap Classes</h6>
        <ul>
            <li>flex-nowrap</li>
            <li>flex-wrap</li>
            <li>flex-wrap-reverse</li>
            <li>flex-sm-nowrap</li>
            <li>flex-sm-wrap</li>
            <li>flex-sm-wrap-reverse</li>
            <li>flex-md-nowrap</li>
            <li>flex-md-wrap</li>
            <li>flex-md-wrap-reverse</li>
            <li>flex-lg-nowrap</li>
            <li>flex-lg-wrap</li>
            <li>flex-lg-wrap-reverse</li>
            <li>flex-xl-nowrap</li>
            <li>flex-xl-wrap</li>
            <li>flex-xl-wrap-reverse</li>
        </ul>

        <h5>Justify Content</h5>
        <p>
            Justify content is the alignment along the main axis and defined
            using the <i>justify-content-&#123;value&#125;</i> format with
            responsive alternatives. Value field accepts the options below.
        </p>
        <ul>
            <li>start</li>
            <li>end</li>
            <li>center</li>
            <li>between</li>
            <li>around</li>
            <li>evenly</li>
        </ul>

        <h6>Between</h6>
        <app-code lang="markup" ngPreserveWhitespaces ngNonBindable>
            &lt;div class="flex justify-content-between"&gt; &lt;div&gt;Item
            1&lt;/div&gt; &lt;div&gt;Item 2&lt;/div&gt; &lt;/div&gt;
        </app-code>
        <div class="flex justify-content-between">
            <div>Item 1</div>
            <div>Item 2</div>
        </div>

        <h6>Center</h6>
        <app-code lang="markup" ngPreserveWhitespaces ngNonBindable>
            &lt;div class="flex justify-content-center"&gt; &lt;div
            class="mr-2"&gt;Item 1&lt;/div&gt; &lt;div&gt;Item 2&lt;/div&gt;
            &lt;/div&gt;
        </app-code>
        <div class="flex justify-content-center">
            <div class="mr-2">Item 1</div>
            <div>Item 2</div>
        </div>

        <h6>Justify Content Classes</h6>
        <ul>
            <li>justify-content-start</li>
            <li>justify-content-end</li>
            <li>justify-content-center</li>
            <li>justify-content-between</li>
            <li>justify-content-around</li>
            <li>justify-content-evenly</li>
            <li>justify-content-sm-start</li>
            <li>justify-content-sm-end</li>
            <li>justify-content-sm-center</li>
            <li>justify-content-sm-between</li>
            <li>justify-content-sm-around</li>
            <li>justify-content-sm-evenly</li>
            <li>justify-content-md-start</li>
            <li>justify-content-md-end</li>
            <li>justify-content-md-center</li>
            <li>justify-content-md-between</li>
            <li>justify-content-md-around</li>
            <li>justify-content-md-evenly</li>
            <li>justify-content-lg-start</li>
            <li>justify-content-lg-end</li>
            <li>justify-content-lg-center</li>
            <li>justify-content-lg-between</li>
            <li>justify-content-lg-around</li>
            <li>justify-content-lg-evenly</li>
            <li>justify-content-xl-start</li>
            <li>justify-content-xl-end</li>
            <li>justify-content-xl-center</li>
            <li>justify-content-xl-between</li>
            <li>justify-content-xl-around</li>
            <li>justify-content-xl-evenly</li>
        </ul>

        <h5>Align Items</h5>
        <p>
            Align Items configuration is the alignment along the cross axis and
            defined using the <i>align-items-&#123;value&#125;</i> format with
            responsive alternatives. Value field accepts the options below.
        </p>
        <ul>
            <li>start</li>
            <li>end</li>
            <li>center</li>
            <li>baseline</li>
            <li>stretch (default)</li>
        </ul>

        <h6>Start</h6>
        <app-code lang="markup" ngPreserveWhitespaces ngNonBindable>
            &lt;div class="flex align-items-start"&gt; &lt;div class="mr-2"
            style="height:100px"&gt;Item 1&lt;/div&gt; &lt;div
            style="height:50px"&gt;Item 2&lt;/div&gt; &lt;/div&gt;
        </app-code>
        <div class="flex align-items-start">
            <div class="mr-2" style="height: 100px">Item 1</div>
            <div style="height: 50px">Item 2</div>
        </div>

        <h6>Center</h6>
        <app-code lang="markup" ngPreserveWhitespaces ngNonBindable>
            &lt;div class="flex align-items-center"&gt; &lt;div class="mr-2"
            style="height:100px"&gt;Item 1&lt;/div&gt; &lt;div
            style="height:50px"&gt;Item 2&lt;/div&gt; &lt;/div&gt;
        </app-code>
        <div class="flex align-items-center">
            <div class="mr-2" style="height: 100px">Item 1</div>
            <div style="height: 50px">Item 2</div>
        </div>

        <h6>Align Items Classes</h6>
        <ul>
            <li>align-items-start</li>
            <li>align-items-end</li>
            <li>align-items-center</li>
            <li>align-items-baseline</li>
            <li>align-items-strech</li>
            <li>align-items-sm-start</li>
            <li>align-items-sm-end</li>
            <li>align-items-sm-center</li>
            <li>align-items-sm-baseline</li>
            <li>align-items-sm-strech</li>
            <li>align-items-md-start</li>
            <li>align-items-md-end</li>
            <li>align-items-md-center</li>
            <li>align-items-md-baseline</li>
            <li>align-items-md-strech</li>
            <li>align-items-lg-start</li>
            <li>align-items-lg-end</li>
            <li>align-items-lg-center</li>
            <li>align-items-lg-baseline</li>
            <li>align-items-lg-strech</li>
            <li>align-items-xl-start</li>
            <li>align-items-xl-end</li>
            <li>align-items-xl-center</li>
            <li>align-items-xl-baseline</li>
            <li>align-items-xl-strech</li>
        </ul>

        <h5>Align Self</h5>
        <p>
            Align self configuration is the alignment along the cross axis for a
            particular element and defined using the
            <i>align-self-&#123;value&#125;</i> format with responsive
            alternatives. Value field accepts the options below.
        </p>
        <ul>
            <li>start</li>
            <li>end</li>
            <li>center</li>
            <li>baseline</li>
            <li>stretch (default)</li>
        </ul>

        <app-code lang="markup" ngPreserveWhitespaces ngNonBindable>
            &lt;div class="flex" style="height: 150px;"&gt; &lt;div class="mr-2
            align-self-start"&gt;Start&lt;/div&gt; &lt;div class="mr-2
            align-self-center"&gt;Center&lt;/div&gt; &lt;div class="mr-2
            align-self-end"&gt;End&lt;/div&gt; &lt;div class="mr-2
            align-self-stretch"&gt;Stretch&lt;/div&gt; &lt;/div&gt;
        </app-code>

        <div class="flex" style="height: 150px">
            <div class="mr-2 align-self-start">Start</div>
            <div class="mr-2 align-self-center">Center</div>
            <div class="mr-2 align-self-end">End</div>
            <div class="mr-2 align-self-stretch">Stretch</div>
        </div>

        <h6>Align Items Classes</h6>
        <ul>
            <li>align-self-start</li>
            <li>align-self-end</li>
            <li>align-self-center</li>
            <li>align-self-baseline</li>
            <li>align-self-strech</li>
            <li>align-self-sm-start</li>
            <li>align-self-sm-end</li>
            <li>align-self-sm-center</li>
            <li>align-self-sm-baseline</li>
            <li>align-self-sm-strech</li>
            <li>align-self-md-start</li>
            <li>align-self-md-end</li>
            <li>align-self-md-center</li>
            <li>align-self-md-baseline</li>
            <li>align-self-md-strech</li>
            <li>align-self-lg-start</li>
            <li>align-self-lg-end</li>
            <li>align-self-lg-center</li>
            <li>align-self-lg-baseline</li>
            <li>align-self-lg-strech</li>
            <li>align-self-xl-start</li>
            <li>align-self-xl-end</li>
            <li>align-self-xl-center</li>
            <li>align-self-xl-baseline</li>
            <li>align-self-xl-strech</li>
        </ul>

        <h5>Align Content</h5>
        <p>
            Align content is the alignment along the cross axis and defined
            using the <i>align-content-&#123;value&#125;</i> format with
            responsive alternatives. Value field accepts the options below.
        </p>
        <ul>
            <li>start</li>
            <li>end</li>
            <li>center</li>
            <li>around</li>
            <li>stretch</li>
            <li>between</li>
        </ul>

        <h6>Align Content Classes</h6>
        <ul>
            <li>align-content-start</li>
            <li>align-content-end</li>
            <li>align-content-center</li>
            <li>align-content-around</li>
            <li>align-content-stretch</li>
            <li>align-content-between</li>
            <li>align-content-sm-start</li>
            <li>align-content-sm-end</li>
            <li>align-content-sm-center</li>
            <li>align-content-sm-around</li>
            <li>align-content-sm-stretch</li>
            <li>align-content-sm-between</li>
            <li>align-content-md-start</li>
            <li>align-content-md-end</li>
            <li>align-content-md-center</li>
            <li>align-content-md-around</li>
            <li>align-content-md-stretch</li>
            <li>align-content-md-between</li>
            <li>align-content-lg-start</li>
            <li>align-content-lg-end</li>
            <li>align-content-lg-center</li>
            <li>align-content-lg-around</li>
            <li>align-content-lg-stretch</li>
            <li>align-content-lg-between</li>
            <li>align-content-xl-start</li>
            <li>align-content-xl-end</li>
            <li>align-content-xl-center</li>
            <li>align-content-xl-around</li>
            <li>align-content-xl-stretch</li>
            <li>align-content-xl-between</li>
        </ul>

        <h5>Margin with FlexBox</h5>
        <p>
            When combined with
            <a [routerLink]="['/primeflex/spacing']">spacing utilities</a>,
            flexbox offers endless possibilities.
        </p>
        <h6>Horizontal Spacing</h6>

        <app-code lang="markup" ngPreserveWhitespaces ngNonBindable>
            &lt;div class="flex p-3 card"&gt; &lt;button pButton pRipple
            type="button" icon="pi pi-check" class="mr-2"&gt;&lt;/button&gt;
            &lt;button pButton pRipple type="button" icon="pi pi-trash"
            class="p-button-danger"&gt;&lt;/button&gt; &lt;button pButton
            pRipple type="button" icon="pi pi-search" class="ml-auto
            p-button-help"&gt;&lt;/button&gt; &lt;/div&gt;
        </app-code>

        <div class="flex p-3 card">
            <button
                pButton
                pRipple
                type="button"
                icon="pi pi-check"
                class="mr-2"
            ></button>
            <button
                pButton
                pRipple
                type="button"
                icon="pi pi-trash"
                class="p-button-danger"
            ></button>
            <button
                pButton
                pRipple
                type="button"
                icon="pi pi-search"
                class="ml-auto p-button-help"
            ></button>
        </div>

        <h6>Vertical Spacing</h6>
        <app-code lang="markup" ngPreserveWhitespaces ngNonBindable>
            &lt;div class="flex flex-column" style="height:150px"&gt;
            &lt;div&gt;Item 1&lt;/div&gt; &lt;div class="mt-auto"&gt;Item
            2&lt;/div&gt; &lt;/div&gt;
        </app-code>

        <div class="flex flex-column" style="height: 150px">
            <div>Item 1</div>
            <div class="mt-auto">Item 2</div>
        </div>
    </div>
</div>
