.mkj-tile {
    width: 10rem;
    height: 10rem;
    border-radius: 0.2rem;
    border: 1px solid blue;
    background-color: cornflowerblue;
    display: flex;
    justify-content: center;
    align-items: center;
}
