.mkj-tile {
    width: 11rem;
    height: 11rem;
    border-radius: 0.2rem;
    border: 3px solid var(--color);
    background-color: var(--color-light);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.85;

    &:hover {
        opacity: 1;
        transition: opacity 0.3s;
        cursor: pointer;
    }

    &-label {
        color: var(--text-color);
        opacity: 1;
    }

    &-label-bottom {
        color: var(--text-color);
        bottom: 0;
        position: absolute;
        display: flex;
        width: 100%;
        justify-content: space-between;
    }
}
