.beat-bar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  width: 100%;
  font-size: 2rem;
  font-weight: bold;

  .bar-counts {
    display: flex;
    justify-content: space-around;
    width: 100%;

    .active-beat {
      color: var(--primary-color);
      font-weight: bold;
      text-shadow: 0 0 10px var(--primary-color);
    }
  }
}
