<div class="flex flex-column align-items-center gap-4">
  <button pButton pRipple class="tap-button p-button-outlined p-button-rounded" label="Tap" (click)="tap()"></button>
  <mkj-knob
    [(value)]="ctx.metronomeConfig.bpm"
    size="200"
    [range]="{
      min: 30,
      max: 240
    }"
    [valuePostFix]="' bpm'"
    (valueChange)="!isPlaying || start()"
  ></mkj-knob>

  <mkj-counter
    label="Schläge pro Takt"
    sizeRem="2rem"
    [(value)]="ctx.metronomeConfig.numerator"
    [range]="{ min: 1, max: 24 }"
  ></mkj-counter>
</div>

<div class="beat-bar-container card mt-5">
  <div class="bar-counts">
    @for (beat of ctx.metronomeConfig.numerator | numberToArray; let index = $index; track beat) {
      <div
        class="flex flex-column justify-content-end cursor-pointer"
        [class.active-beat]="index + 1 === count"
        (click)="setAccent(index)"
      >
        @if (accents[index]) {
          <span>></span>
        }
        <span>{{ beat }}</span>
      </div>
    }
  </div>
  <button
    pButton
    pRipple
    class="p-button-rounded"
    [class.p-button-danger]="isPlaying"
    [icon]="isPlaying ? 'pi pi-stop' : 'pi pi-play'"
    (click)="isPlaying ? stop() : start()"
  ></button>
</div>
