<p-table [value]="values" [loading]="!values" responsiveLayout="scroll">
    <ng-template pTemplate="header">
        <tr>
            <th>Bezeichnung</th>
            <th>Marke</th>
            <th pSortableColumn="gruppe.name">
                Register <p-sortIcon field="vonDatum"></p-sortIcon>
            </th>
            <th
                *visibleFor="[PermissionMap.INSTRUMENTE_SAVE]"
                style="width: 5rem"
            ></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-item>
        <tr>
            <td>{{ item.bezeichnung }}</td>
            <td>{{ item.marke }}</td>
            <td>{{ item.gruppe?.name }}</td>
            <td *visibleFor="[PermissionMap.INSTRUMENTE_SAVE]">
                <button
                    pButton
                    icon="pi pi-pencil"
                    class="p-button-rounded p-button-outlined p-button-info"
                    (click)="navigateEditor(item)"
                ></button>
            </td>
        </tr> </ng-template
></p-table>
