$primaryColor: #006600;
$primaryLightColor: #66bb6a;
$primaryTextColor: #e8f5e9;
$primaryTextHoverColor: #ffffff;
$accentColor: #fbc02d;
$accentLightColor: #fff9c4;
$accentTextColor: #000000;
$activeMenuItemTextColor: #388e3c;
$darkActiveMenuItemTextColor: #4caf50;
$darkMenuItemTextColor: #dee0e3;
$darkMenuItemInactiveTextColor: #757575;
$darkMenuItemHoverBgColor: #545454;
$darkSidemenuBgColor: #343434;
$darkMenuBgColor: #424242;

@import "../../../sass/layout/_layout";
