<div [formGroup]="formGroup" class="p-fluid grid">
    <div class="p-field col-12 md:col-6">
        <span class="p-float-label">
            <input
                type="text"
                pInputText
                inputId="bezeichnung"
                formControlName="bezeichnung"
            />

            <label for="bezeichnung">Bezeichnung</label>
        </span>
    </div>
    <div class="p-field col-12 md:col-6">
        <span class="p-float-label">
            <input
                type="text"
                pInputText
                inputId="marke"
                formControlName="marke"
            />

            <label for="marke">Marke</label>
        </span>
    </div>
    <div class="p-field col-12 md:col-6">
        <span class="p-float-label">
            <input
                type="text"
                pInputText
                inputId="verkaeufer"
                formControlName="verkaeufer"
            />

            <label for="verkaeufer">Verkäufer</label>
        </span>
    </div>
    <div class="p-field col-12 md:col-6">
        <span class="p-float-label">
            <input
                type="text"
                pInputText
                inputId="schaeden"
                formControlName="schaeden"
            />

            <label for="schaeden">Schäden</label>
        </span>
    </div>

    <div class="p-field col-12 md:col-6">
        <span class="p-float-label">
            <input
                type="text"
                pInputText
                inputId="aufbewahrungsort"
                formControlName="aufbewahrungsort"
            />

            <label for="aufbewahrungsort">Aufbewahrungsort</label>
        </span>
    </div>
    <div class="p-field col-12 md:col-6">
        <mkj-date-input
            label="Anschaffungsdatum"
            type="date"
            formControlName="anschaffungsdatum"
        ></mkj-date-input>
    </div>

    <div class="p-field col-12 md:col-6">
        <mkj-mitglied-autocomplete
            label="Besitzer"
            [mitglied]="besitzer"
            (mitgliedChange)="setBesitzer($event)"
        ></mkj-mitglied-autocomplete>
    </div>

    <div class="p-field col-12">
        <span class="p-float-label">
            <textarea
                type="text"
                pInputTextarea
                inputId="anmerkungen"
                formControlName="anmerkungen"
            ></textarea>

            <label for="anmerkungen">Anmerkungen</label>
        </span>
    </div>
</div>
