<div class="flex gap-4 mt-3 mb-5 align-items-center">
  <div class="w-10rem">
    <p-slider [ngModel]="50" (ngModelChange)="SynthCtx.setMasterVolume($event / 100)"></p-slider>
  </div>
</div>

<div class="flex overflow-x-auto">
  @for (octave of octaves; track octave) {
    <div class="flex flex-column">
      <div class="octave">{{ octave.label }}</div>
      <div class="flex">
        @for (key of octave.keys; track key) {
          <div
            class="key"
            [class.black]="key.enharmonicKeyName != null"
            (pointerdown)="pointerEvents.next({ type: $event.type, key })"
            (pointerup)="pointerEvents.next({ type: $event.type, key })"
            (pointerenter)="pointerEvents.next({ type: $event.type, key })"
            (pointerleave)="pointerEvents.next({ type: $event.type, key })"
          >
            @if (key.enharmonicKeyName == null) {
              {{ key.keyName }}
            }
          </div>
        }
      </div>
    </div>
  }
</div>

<div class="flex flex-column gap-4 mt-5">
  @for (osc of SynthCtx.oscillatorBlueprints; let index = $index; track osc) {
    <div class="flex gap-4 align-items-center border-1 border-200 border-round-md p-2">
      Oscillator {{ index + 1 }}
      <mkj-dropdown label="Type" [(value)]="osc.type" [options]="WaveOptions"></mkj-dropdown>
      <div class="flex flex-column justify-content-center">
        <mkj-knob label="Gain" [size]="80" [value]="50" (valueChange)="SynthCtx.setGain($event, index)"></mkj-knob>
      </div>
      <div class="flex flex-column">
        <mkj-knob label="Detune" [size]="80" [value]="50" (valueChange)="SynthCtx.setDetune($event, index)"></mkj-knob>
      </div>
    </div>
  }
</div>
