<app-mkj-toolbar
    headerLeft="Notenmappen"
    [showAddButton]="true"
    (clickAdd)="addNewMappe()"
></app-mkj-toolbar>

<div class="p-col-12">
    <p-table
        [value]="notenmappen"
        [loading]="loading"
        dataKey="id"
        responsiveLayout="scroll"
        rowExpandMode="single"
        styleClass="p-datatable p-datatable-striped"
        style="overflow: visible"
        (onRowExpand)="selectedMappe = $event.data"
    >
        <ng-template pTemplate="body" let-mappe let-expanded="expanded"
            ><tr>
                <td style="width: 3rem">
                    <button
                        type="button"
                        pButton
                        pRipple
                        [pRowToggler]="mappe"
                        class="p-button-text p-button-rounded p-button-plain"
                        [icon]="
                            expanded
                                ? 'pi pi-chevron-down'
                                : 'pi pi-chevron-right'
                        "
                    ></button>
                </td>
                <td>
                    <b>{{ mappe.name }}</b>
                </td>
                <td style="width: 5rem">
                    <button
                        pButton
                        pRipple
                        icon="pi pi-bars"
                        class="p-button-rounded p-button-outlined"
                        (click)="
                            selectedMappe = mappe; mappenMenu.toggle($event)
                        "
                    ></button>
                </td></tr></ng-template
        ><ng-template pTemplate="rowexpansion" let-mappe>
            <tr>
                <td colspan="12">
                    <div class="p-d-flex p-jc-center">
                        <app-mkj-notensuche
                            [selectedNoten]="selectedNoten"
                            [verzeichnisMode]="mappe.hatVerzeichnis"
                            placeholder="Noten hinzufügen"
                            (notenSelect)="addNotenToMappe($event)"
                        ></app-mkj-notensuche>
                    </div>
                    <p-table
                        *ngIf="mappe.noten.length"
                        [value]="mappe.noten"
                        dataKey="id"
                        responsiveLayout="scroll"
                        styleClass="p-datatable p-datatable-striped"
                    >
                        <ng-template pTemplate="header"
                            ><tr>
                                <th></th>
                                <th *ngIf="mappe.hatVerzeichnis">
                                    Verzeichnis
                                </th>
                                <th>Name</th>
                                <th></th></tr
                        ></ng-template>
                        <ng-template pTemplate="body" let-noten>
                            <tr>
                                <td></td>
                                <td *ngIf="mappe.hatVerzeichnis">
                                    {{ noten.pivot.verzeichnisNr }}
                                </td>
                                <td>{{ noten.titel }}</td>
                                <td>
                                    <button
                                        pButton
                                        icon="pi pi-trash"
                                        class="p-button-text p-button-danger"
                                        (click)="detachNotenFromMappe(noten)"
                                    ></button>
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </td></tr></ng-template
    ></p-table>
</div>

<p-dialog
    [(visible)]="addDialogVisible"
    [closable]="false"
    [dismissableMask]="true"
    [modal]="true"
    styleClass="p-fluid"
    position="top"
    header="Mappe erstellen"
>
    <ng-template pTemplate="content">
        <div class="p-d-flex p-flex-column p-mt-3">
            <div class="p-fluid p-field">
                <span class="p-float-label">
                    <input
                        pInputText
                        type="text"
                        [(ngModel)]="selectedMappe.name"
                        [class.ng-dirty]="
                            !selectedMappe.name && newMappeSubmitted
                        "
                        [class.ng-invalid]="
                            !selectedMappe.name && newMappeSubmitted
                        "
                        required
                    />

                    <small
                        class="p-error"
                        *ngIf="!selectedMappe.name && newMappeSubmitted"
                        >Name ist erforderlich!</small
                    >
                    <label for="name">Name</label>
                </span>
            </div>
            <div class="p-fluid p-field">
                <p-checkbox
                    [(ngModel)]="selectedMappe.hatVerzeichnis"
                    label="Mit Verzeichnis"
                    [binary]="true"
                ></p-checkbox>
            </div></div
    ></ng-template>

    <ng-template pTemplate="footer">
        <button
            pButton
            pRipple
            label="Abbrechen"
            icon="pi pi-times"
            class="p-button-outlined"
            (click)="addDialogVisible = false"
        ></button>
        <button
            pButton
            pRipple
            label="Speichern"
            [icon]="loading ? 'pi pi-spin pi-spinner' : 'pi pi-save'"
            [disabled]="loading"
            class="p-button-plain"
            (click)="saveMappe()"
        ></button>
    </ng-template>
</p-dialog>

<p-menu #mappenMenu [model]="mappenMenuItems" [popup]="true"></p-menu>

<!-- Löschbestätigung? -->
<p-confirmDialog
    [breakpoints]="{ '960px': '75vw', '640px': '100vw' }"
    [style]="{ width: '450px' }"
></p-confirmDialog>
