<div
    class="layout-sidebar"
    [ngStyle]="{ overflow: appMain.sidebarActive ? 'hidden' : 'visible' }"
    [ngClass]="{ 'layout-sidebar-dark': app.darkMenu }"
    (click)="appMain.onSidebarClick($event)"
>
    <div class="layout-tabmenu">
        <ul class="layout-tabmenu-nav">
            <li
                [ngClass]="{
                    'active-item':
                        appMain.activeTabIndex === MenuLabels.DASHBOARD
                }"
            >
                <a
                    href="#"
                    pRipple
                    class="tabmenuitem-link"
                    (click)="appMain.onTabClick($event, MenuLabels.DASHBOARD)"
                    pTooltip="Home"
                    ><i class="pi pi-fw pi-home"></i
                ></a>
            </li>
            <!-- !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!-->
            <li
                [ngClass]="{
                    'active-item':
                        appMain.activeTabIndex === MenuLabels.AUSRUECKUNGEN
                }"
            >
                <a
                    routerLink="/ausrueckungen"
                    pRipple
                    class="tabmenuitem-link"
                    (click)="
                        appMain.onTabClick($event, MenuLabels.AUSRUECKUNGEN)
                    "
                    pTooltip="Ausrückungen"
                    ><i class="pi pi-fw pi-calendar"></i
                ></a>
            </li>
            <!--!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!-->
            <li
                [ngClass]="{
                    'active-item':
                        appMain.activeTabIndex === MenuLabels.MITGLIEDER
                }"
            >
                <a
                    routerLink="/mitglieder"
                    pRipple
                    class="tabmenuitem-link"
                    (click)="appMain.onTabClick($event, MenuLabels.MITGLIEDER)"
                    pTooltip="Mitglieder"
                    ><i class="pi pi-fw pi-users"></i
                ></a>
            </li>
            <!--!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!-->
            <li
                [ngClass]="{
                    'active-item': appMain.activeTabIndex === MenuLabels.NOTEN
                }"
            >
                <a
                    routerLink="/notenarchiv"
                    pRipple
                    class="tabmenuitem-link"
                    (click)="appMain.onTabClick($event, MenuLabels.NOTEN)"
                    pTooltip="Notenarchiv"
                    ><i class="mdi mdi-music"></i
                ></a>
            </li>
            <!--!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!-->
            <li
                [ngClass]="{
                    'active-item':
                        appMain.activeTabIndex === MenuLabels.EINSTELLUNGEN
                }"
            >
                <a
                    href="#"
                    pRipple
                    class="tabmenuitem-link"
                    (click)="
                        appMain.onTabClick($event, MenuLabels.EINSTELLUNGEN)
                    "
                    pTooltip="Adminbereich"
                    ><i class="pi pi-fw pi-cog"></i
                ></a>
            </li>

            <!-- <li [ngClass]="{ 'active-item': appMain.activeTabIndex === 0 }">
                <a
                    href="#"
                    pRipple
                    class="tabmenuitem-link"
                    (click)="appMain.onTabClick($event, 0)"
                    ><i class="pi pi-fw pi-home"></i
                ></a>

                <div class="layout-tabmenu-tooltip">
                    <div class="layout-tabmenu-tooltip-arrow"></div>
                    <div class="layout-tabmenu-tooltip-text">Features</div>
                </div>
            </li>
            <li [ngClass]="{ 'active-item': appMain.activeTabIndex === 1 }">
                <a
                    href="#"
                    pRipple
                    class="tabmenuitem-link"
                    (click)="appMain.onTabClick($event, 1)"
                    ><i class="pi pi-fw pi-inbox"></i
                ></a>
                <div class="layout-tabmenu-tooltip">
                    <div class="layout-tabmenu-tooltip-arrow"></div>
                    <div class="layout-tabmenu-tooltip-text">Inbox</div>
                </div>
            </li>
            <li [ngClass]="{ 'active-item': appMain.activeTabIndex === 2 }">
                <a
                    href="#"
                    pRipple
                    class="tabmenuitem-link"
                    (click)="appMain.onTabClick($event, 2)"
                    ><i class="pi pi-fw pi-calendar"></i
                ></a>
                <div class="layout-tabmenu-tooltip">
                    <div class="layout-tabmenu-tooltip-arrow"></div>
                    <div class="layout-tabmenu-tooltip-text">Calendar</div>
                </div>
            </li>
            <li [ngClass]="{ 'active-item': appMain.activeTabIndex === 3 }">
                <a
                    href="#"
                    pRipple
                    class="tabmenuitem-link"
                    (click)="appMain.onTabClick($event, 3)"
                    ><i class="pi pi-fw pi-chart-bar"></i
                ></a>
                <div class="layout-tabmenu-tooltip">
                    <div class="layout-tabmenu-tooltip-arrow"></div>
                    <div class="layout-tabmenu-tooltip-text">Projects</div>
                </div>
            </li>
            <li [ngClass]="{ 'active-item': appMain.activeTabIndex === 4 }">
                <a
                    href="#"
                    pRipple
                    class="tabmenuitem-link"
                    (click)="appMain.onTabClick($event, 4)"
                    ><i class="pi pi-user"></i
                ></a>
                <div class="layout-tabmenu-tooltip">
                    <div class="layout-tabmenu-tooltip-arrow"></div>
                    <div class="layout-tabmenu-tooltip-text">Team</div>
                </div>
            </li> -->
        </ul>

        <ul class="layout-tabmenu-nav">
            <li
                [ngClass]="{
                    'active-item': appMain.activeTabIndex === MenuLabels.LOGOUT
                }"
            >
                <a
                    href="#"
                    pRipple
                    class="tabmenuitem-link"
                    (click)="appMain.onTabClick($event, MenuLabels.LOGOUT)"
                    pTooltip="Logout"
                    (click)="logout()"
                    ><i class="pi pi-sign-out"></i
                ></a>
            </li>
        </ul>

        <ul *ngIf="isDevEnvironment" class="layout-tabmenu-nav">
            <li
                [ngClass]="{
                    'active-item': appMain.activeTabIndex === MenuLabels.TEST
                }"
            >
                <a
                    routerLink="/test"
                    pRipple
                    class="tabmenuitem-link"
                    (click)="appMain.onTabClick($event, MenuLabels.TEST)"
                    pTooltip="TEST"
                    ><i class="pi pi-pencil"></i
                ></a>
            </li>
        </ul>
        <ul *ngIf="isDevEnvironment" class="layout-tabmenu-nav">
            <li
                [ngClass]="{
                    'active-item':
                        appMain.activeTabIndex === MenuLabels.PRIMEMENU
                }"
            >
                <a
                    href="#"
                    pRipple
                    class="tabmenuitem-link"
                    (click)="appMain.onTabClick($event, MenuLabels.PRIMEMENU)"
                    pTooltip="PRIMEMENU"
                    ><i class="pi pi-list"></i
                ></a>
            </li>
        </ul>

        <div class="layout-tabmenu-contents">
            <div
                class="layout-tabmenu-content"
                [ngClass]="{
                    'layout-tabmenu-content-active':
                        appMain.activeTabIndex === 0
                }"
            >
                <div class="layout-submenu-title clearfix">
                    <span>Features</span>
                    <a
                        href="#"
                        class="menu-button pi pi-bars"
                        (click)="appMain.closeSidebar($event)"
                    ></a>
                </div>
                <app-sidebarTabContent>
                    <app-menu></app-menu>
                </app-sidebarTabContent>
            </div>

            <div
                class="layout-tabmenu-content"
                [ngClass]="{
                    'layout-tabmenu-content-active':
                        appMain.activeTabIndex === MenuLabels.EINSTELLUNGEN
                }"
            >
                <div class="layout-submenu-title clearfix">
                    <span>Einstellungen</span>
                    <a
                        href="#"
                        class="menu-button pi pi-bars"
                        (click)="appMain.closeSidebar($event)"
                    ></a>
                </div>
                <app-sidebarTabContent>
                    <div class="inbox-tab">
                        <div class="inbox-labels">
                            <ul>
                                <li role="menuitem">
                                    <a
                                        routerLink="/einstellungen/mitgliedsdaten"
                                    >
                                        <i class="pi pi-user p-mr-2"></i>
                                        <span>Meine Daten</span>
                                    </a>
                                </li>

                                <li role="menuitem">
                                    <a routerLink="/einstellungen/rollen">
                                        <i class="pi pi-check p-mr-2"></i>
                                        <span>Rollen & Rechte</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </app-sidebarTabContent>
            </div>
        </div>
    </div>
</div>
