<mkj-list
  #list
  [datasource]="listDatasource"
  [configuration]="listConfig"
  [rowReorder]="editMode"
  [disabled]="tableLocked"
  [templateMap]="{
    caption: captionTemplate,
    rowexpansion: rowexpansion,
    verzeichnisNrTemplate: verzeichnisNrTemplate,
    bewertungTemplate: bewertungTemplate
  }"
  (onRowReorder)="syncNotenSubject.next($event)"
></mkj-list>

<ng-template #verzeichnisNrTemplate let-noten>
  <div class="col-12 flex align-items-center">
    <span>{{ noten.pivot.verzeichnisNr }}</span>
  </div>
</ng-template>

<ng-template #rowexpansion let-noten>
  <div class="col-12 flex align-items-center">
    @if (editMode && hasSavePermission) {
      <mkj-text-input
        label="Index"
        [(value)]="noten.pivot.verzeichnisNr"
        [disabled]="tableLocked"
        (onBlur)="syncNotenSubject.next(list.values)"
        (onEnter)="syncNotenSubject.next(list.values)"
      ></mkj-text-input>
    }
  </div>
  @if (noten) {
    <mkj-display-model [model]="noten"></mkj-display-model>
  }
  <div class="col-12 card flex gap-2 justify-content-center">
    @if (hasSavePermission) {
      <button
        pButton
        label="Bearbeiten"
        icon="pi pi-pencil"
        class="p-button-secondary p-button-rounded"
        (click)="navigateToNoten(noten)"
      ></button>
    }
    @if (hasAssignPermission && editMode) {
      <button
        pButton
        label="Entfernen"
        icon="pi pi-trash"
        class="p-button-rounded p-button-danger"
        (click)="detachNotenFromMappe(noten)"
      ></button>
    }
  </div>
</ng-template>

<ng-template #captionTemplate>
  @if (hasAssignPermission && editMode) {
    <div class="flex justify-content-start">
      <mkj-autocomplete
        [value]="selectedNoten"
        [datasource]="notenDatasource"
        [listConfig]="notenAutoCompleteConfig"
        [label]="configService.uiNaming.Noten + ' hinzufügen'"
        (valueChange)="addNotenToMappe($event)"
      ></mkj-autocomplete>
    </div>
  }
</ng-template>

<ng-template #bewertungTemplate let-noten>
  @if (noten.bewertung != null) {
    <mkj-rating [value]="noten.bewertung" [readonly]="true"></mkj-rating>
  }
</ng-template>
