<mkj-list
  #list
  [datasource]="datasource"
  [configuration]="listConfig"
  [templateMap]="{
    rowexpansion: rowExpansionTemplate,
    nameTemplate: nameTemplate,
    datumTemplate: datumTemplate,
    kategorieTemplate: kategorieTemplate,
    statusTemplate: statusTemplate
  }"
  (onSelectionChange)="this.selectedRow = $event"
  (onDoubleClick)="navigateSingleAusrueckung($event)"
>
</mkj-list>

<ng-template #nameTemplate let-termin>
  <div class="flex align-items-center gap-2">
    @if (termin.gruppe) {
      <i class="pi pi-users" [style.color]="termin.gruppe?.color" [pTooltip]="termin.gruppe?.name"></i>
    }
    @if (termin.oeffentlich) {
      <i class="pi pi-eye" [style.color]="'#2196f3'" pTooltip="Öffentlich"></i>
    }
    <span class="font-bold">{{ termin.name }}</span>
  </div>
</ng-template>

<ng-template #datumTemplate let-termin>
  {{ termin.vonDatum | mkjDate: 'E d. MMMM YYYY' }}
  {{ termin.treffzeit }}
</ng-template>

<ng-template #kategorieTemplate let-termin>
  {{ termin.kategorie | uppercase }}
</ng-template>

<ng-template #statusTemplate let-termin>
  <mkj-tag [label]="termin.status | uppercase" [severity]="termin.status | terminStatusSeverity"></mkj-tag>
</ng-template>

<ng-template #rowExpansionTemplate let-termin>
  @if (actualDate < termin.vonDatum) {
    <div class="flex justify-content-center mb-5">
      <mkj-termin-teilnahme-selector [termin]="termin"></mkj-termin-teilnahme-selector>
    </div>
  }
  <mkj-display-model [model]="termin"></mkj-display-model>
</ng-template>

<p-menu #exportMenu [popup]="true" [model]="exportMenuItems"></p-menu>
