<div class="flex gap-3 mb-3">
  <mkj-dropdown
    label="Tonika"
    [options]="tonicOptions"
    [(value)]="selectedTonic"
    (valueChange)="update()"
  ></mkj-dropdown>
  <mkj-dropdown
    label="Modus"
    placeholder="Modus"
    [options]="modeOptions"
    [(value)]="selectedMode"
    (valueChange)="update()"
  ></mkj-dropdown>
</div>

<ul class="circle-of-fifths">
  @for (step of circleSteps; let i = $index; track step) {
    <li class="key" [ngClass]="step.scaleStepInfo?.quality">
      <div class="step">{{ step.key | enharmonicKeyNote: i > 5 ?? step.key.keyName : i === 6 }}</div>
      <div class="literal">
        @if (selectedMode == null) {
          {{ circleSteps | circleParallelMinorPipe: i }}
        } @else {
          {{ step.scaleStepInfo?.step | scaleStepLiteral: step.scaleStepInfo?.quality }}
        }
      </div>
      <div class="sig">
        @if (selectedMode == null) {
          {{ i | circleAccidentalCountPipe }}
        }
      </div>
    </li>
  }
</ul>
