<span class="p-float-label" [class.p-input-icon-right]="iconRight">
    <i
        *ngIf="iconRight && (!clearable || !(value$ | async))"
        [class]="iconRight"
    ></i>
    <i
        *ngIf="clearable && (value$ | async)"
        class="pi pi-times cursor-pointer"
        (click)="change(null)"
    ></i>
    <input
        pInputText
        type="text"
        [ngModel]="value$ | async"
        (ngModelChange)="change($event)"
        [disabled]="disabled$ | async"
        (blur)="blur()"
        (keyup.enter)="onEnter.emit()"
        [class.ng-dirty]="formControl?.invalid"
        [class.ng-invalid]="formControl?.invalid"
        [placeholder]="placeholder"
        class="w-full"
    />
    <label [for]="label">{{ label }}</label>
</span>
