.display-container {
    position: relative;
    overflow: visible;
    width: 100%;
    margin: 0.5rem;
}

.display-label {
    position: absolute;
    margin-top: -1rem;
    font-size: 0.95rem;
    opacity: 0.6;
}

.display-string {
    font-size: 1.2rem;
    padding-top: 3px;
    border-radius: 0.4rem;
    opacity: 0.7;
    font-weight: bold;
}
