<mkj-content-loader [loading]="loading$ | async">
    <div class="card p-fluid grid">
        <div class="p-field col-12 lg:col-3 md:col-6">
            <mkj-display-field label="Status">
                <mkj-tag
                    [label]="kassabuch?.aktiv ? 'Aktiv' : 'Inaktiv'"
                    [severity]="kassabuch?.aktiv ? 'success' : 'warning'"
                ></mkj-tag>
            </mkj-display-field>
        </div>
        <div class="p-field col-12 lg:col-3 md:col-6">
            <mkj-display-field label="Name">
                {{ kassabuch?.name }}
            </mkj-display-field>
        </div>
        <div class="p-field col-12 lg:col-3 md:col-6">
            <mkj-display-field label="Gruppe">
                {{ kassabuch?.gruppe?.name ?? "--" }}
            </mkj-display-field>
        </div>
        <div class="p-field col-12 lg:col-3 md:col-6">
            <mkj-display-field label="Kassastand">
                <mkj-tag
                    [label]="kassabuch?.kassastand | currency : 'EUR'"
                    [severity]="
                        kassabuch?.kassastand < 0 ? 'danger' : 'success'
                    "
                >
                </mkj-tag>
            </mkj-display-field>
        </div>
        <div
            *ngIf="kassabuch?.anmerkungen"
            class="p-field col-12 lg:col-3 md:col-6"
        >
            <mkj-display-field label="Anmerkungen">
                {{ kassabuch.anmerkungen }}
            </mkj-display-field>
        </div>
    </div>

    <p-divider></p-divider>

    <div class="flex justify-content-center">
        <p-button label="Neue Buchung" [routerLink]="'new'"></p-button>
    </div>

    <p-table
        [value]="kassabuch?.kassabuchungen"
        sortField="datum"
        sortOrder="-1"
    >
        <ng-template pTemplate="body" let-eintrag>
            <tr (dblclick)="navigateBuchung(eintrag.id)">
                <td>
                    <mkj-tag
                        [label]="eintrag.typ | uppercase"
                        [severity]="
                            eintrag.typ === BuchungTyp.EINNAHME
                                ? 'success'
                                : 'danger'
                        "
                    ></mkj-tag>
                </td>
                <td>{{ eintrag.datum | mkjDate }}</td>
                <td>{{ eintrag.gesamtpreis | currency : "EUR" }}</td>
            </tr>
        </ng-template></p-table
    >
</mkj-content-loader>
