<mkj-form-wrapper [formGroup]="formGroup" [component]="this">
  <div class="p-fluid grid">
    <mkj-dropdown
      class="p-field col-12 lg:col-3 md:col-6"
      label="Typ"
      formControlName="typ"
      [options]="typOptions"
    ></mkj-dropdown>
    <mkj-text-input
      class="p-field col-12 lg:col-3 md:col-6"
      label="Re-Nummer"
      formControlName="nummer"
    ></mkj-text-input>
    <mkj-date-input
      class="p-field col-12 lg:col-3 md:col-6"
      type="date"
      label="Re-Datum"
      formControlName="datum"
    ></mkj-date-input>
    <mkj-date-input
      class="p-field col-12 lg:col-3 md:col-6"
      type="date"
      label="Bezahlt am"
      formControlName="bezahltDatum"
    ></mkj-date-input>
    <mkj-text-area-input class="p-field col-12" label="Anmerkungen" formControlName="anmerkungen"></mkj-text-area-input>

    <div class="p-field col-12 mb-4">
      <mkj-anschrift-form
        mode="suggest"
        formControlName="anschrift"
        [label]="
          configService.uiNaming.Anschrift +
          ' ' +
          (formGroup.controls.anschrift_id.value ? '(aus System)' : '(Neuanlage)')
        "
      ></mkj-anschrift-form>
    </div>

    <div formArrayName="positionen" class="p-field col-12 flex flex-column gap-3">
      @for (position of positionenFormArray.controls; track position; let i = $index) {
        <div
          [formGroupName]="i"
          class="surface-100 p-4 border-round-md flex flex-wrap gap-3 lg:justify-content-between align-items-center"
        >
          <div class="flex flex-wrap gap-3">
            <mkj-text-input formControlName="bezeichnung" label="Beschreibung" />
            <mkj-number-input formControlName="menge" label="Menge"></mkj-number-input>
            <mkj-number-input formControlName="einzelpreis" label="Preis" mode="currency"></mkj-number-input>
          </div>
          <div class="flex gap-3 align-items-center">
            {{ position.controls.gesamtpreis.value | currency: 'EUR' }}
            <button
              pButton
              pRipple
              class="p-button-danger p-button-text"
              type="button"
              icon="pi pi-trash"
              (click)="removePosition(i)"
            ></button>
          </div>
        </div>
      }
    </div>

    <div class="col-12 flex justify-content-center mt-4">
      <button
        pButton
        pRipple
        type="button"
        class="max-w-15rem p-button-secondary p-button-rounded"
        icon="pi pi-plus"
        (click)="addPosition()"
        label="Position hinzufügen"
      ></button>
    </div>

    <div class="col-12 flex flex-wrap justify-content-end">
      @if (positionenFormArray.controls.length === 0) {
        <mkj-number-input
          class="p-field col-12 lg:col-3 md:col-6"
          mode="currency"
          label="Gesamtpreis"
          formControlName="gesamtpreis"
        ></mkj-number-input>
      } @else {
        <div class="w-full border-top-1 mt-4 mb-4 opacity-60"></div>
        <span> Gesamt: {{ formGroup.controls.gesamtpreis.value | currency: 'EUR' }} </span>
      }
    </div>
    <p-divider class="col-12"></p-divider>
  </div>
</mkj-form-wrapper>
