<mkj-form-wrapper [formGroup]="formGroup" [component]="this">
    <div class="p-fluid grid">
        <div class="p-field col-12 lg:col-3 md:col-6">
            <mkj-dropdown
                label="Typ"
                formControlName="typ"
                [options]="typOptions"
            ></mkj-dropdown>
        </div>
        <div class="p-field col-12 lg:col-3 md:col-6">
            <mkj-text-input
                label="Re-Nummer"
                formControlName="nummer"
            ></mkj-text-input>
        </div>
        <div class="p-field col-12 lg:col-3 md:col-6">
            <mkj-date-input
                type="date"
                label="Re-Datum"
                formControlName="datum"
            ></mkj-date-input>
        </div>
        <div class="p-field col-12 lg:col-3 md:col-6">
            <mkj-number-input
                mode="currency"
                label="Gesamtpreis"
                formControlName="gesamtpreis"
            ></mkj-number-input>
        </div>
        <div class="p-field col-12 lg:col-3 md:col-6">
            <mkj-date-input
                type="date"
                label="Bezahlt am"
                formControlName="bezahltDatum"
            ></mkj-date-input>
        </div>
        <div class="p-field col-12">
            <mkj-text-area-input
                label="Anmerkungen"
                formControlName="anmerkungen"
            ></mkj-text-area-input>
        </div>
    </div>
    <div class="p-field col-12">
        <p-divider align="left" type="solid">
            <div class="inline-flex align-items-center">
                <i class="pi pi-user mr-2"></i>
                <b class="mr-2">Kontrahent</b>
                <p *ngIf="formGroup.controls.anschrift_id.value">
                    (aus System)
                </p>
                <p *ngIf="!formGroup.controls.anschrift_id.value">
                    (Neuanlage)
                </p>
            </div>
        </p-divider>
    </div>
    <mkj-anschrift-form
        mode="suggest"
        formControlName="anschrift"
    ></mkj-anschrift-form>
</mkj-form-wrapper>
