.display-container {
    position: relative;
    overflow: visible;
    width: 100%;
    margin: 0.5rem;
}

.display-label {
    position: absolute;
    margin-top: -1rem;
    font-size: 0.95rem;
    opacity: 0.6;
}

.display-string {
    font-size: 1.1rem;
    padding-top: 3px;
    border-radius: 0.4rem;
    opacity: 0.8;
    font-weight: bold;
}

.display-contentcontent {
    padding-top: 3px;
    border-radius: 0.4rem;
}
