<p-card>
    <div class="layout-config-content">
        <h5>Theme</h5>
        <div class="p-field-radiobutton">
            <p-radioButton
                name="darkMenu"
                [value]="true"
                [(ngModel)]="themeService.darkMode"
                (onClick)="themeService.changeTheme()"
                inputId="darkMenu1"
            ></p-radioButton>
            <label for="darkMenu1">Dark</label>
        </div>
        <div class="p-field-radiobutton">
            <p-radioButton
                name="darkMenu"
                [value]="false"
                [(ngModel)]="themeService.darkMode"
                (onClick)="themeService.changeTheme()"
                inputId="darkMenu2"
            ></p-radioButton>
            <label for="darkMenu2">Light</label>
        </div>
        <h5>Desktop Menü</h5>
        <div class="p-field-radiobutton">
            <p-radioButton
                name="menuMode"
                value="static"
                [(ngModel)]="themeService.layoutMode"
                inputId="mode1"
            ></p-radioButton>
            <label for="mode1">Statisch</label>
        </div>
        <div class="p-field-radiobutton">
            <p-radioButton
                name="menuMode"
                value="overlay"
                [(ngModel)]="themeService.layoutMode"
                inputId="mode2"
            ></p-radioButton>
            <label for="mode2">Overlay</label>
        </div>

        <h5>Input Size</h5>
        <div class="p-field-radiobutton">
            <p-radioButton
                name="compactMode"
                [value]="true"
                [(ngModel)]="themeService.compactMode"
                inputId="compactMode1"
                (onClick)="themeService.changeTheme()"
            ></p-radioButton>
            <label for="compactMode1">Kompakt</label>
        </div>
        <div class="p-field-radiobutton">
            <p-radioButton
                name="compactMode"
                [value]="false"
                [(ngModel)]="themeService.compactMode"
                inputId="compactMode2"
                (onClick)="themeService.changeTheme()"
            ></p-radioButton>
            <label for="compactMode2">Standart</label>
        </div>

        <h5 style="margin-top: 0">Input Style</h5>
        <div class="p-formgroup-inline">
            <div class="p-field-radiobutton">
                <p-radioButton
                    name="inputStyle"
                    value="outlined"
                    [(ngModel)]="themeService.inputStyle"
                    inputId="inputStyle1"
                ></p-radioButton>
                <label for="inputStyle1">Rand</label>
            </div>
            <div class="p-field-radiobutton">
                <p-radioButton
                    name="inputStyle"
                    value="filled"
                    [(ngModel)]="themeService.inputStyle"
                    inputId="inputStyle2"
                ></p-radioButton>
                <label for="inputStyle2">Gefüllt</label>
            </div>
        </div>
    </div>
</p-card>
