$dividerColor: #eaeaea;
$dividerLightColor: #f8f8f8;
$iconWidth: 20px;
$iconHeight: 20px;
$iconFontSize: 20px;
$grayBgColor: #757575;
$hoverBgColor: #e8e8e8;
$hoverTextColor: #000000;
$transitionDuration: 0.3s;
$tabletBreakpoint: 991px !default;

$listItemPadding: 0.571em 0.857em;

/* Layout */
$bodyBgColor: var(--surface-0);
$menuItemHoverBgColor: var(--surface-50);
$menuitemColor: var(--surface-800);
$footerBgColor: var(--surface-0);
$inputBorderColor: var(--surface-300);

/* Topbar */
$topbarSubmenuBgColor: var(--surface-50);
$topbarSubmenuItemHoverBgColor: var(--surface-100);
