<div class="p-col-12">
    <p-table
        [value]="roles"
        [(selection)]="selectedRole"
        [loading]="rolesLoading || permissionsLoading"
        dataKey="id"
        responsiveLayout="scroll"
        selectionMode="single"
        rowExpandMode="single"
        styleClass="p-datatable p-datatable-striped"
        (onRowSelect)="loadPermissionsForRole()"
    >
        <ng-template pTemplate="caption"
            ><div class="p-col-12 p-d-flex p-jc-between p-ai-center p-p-0">
                <span></span>
                <p-button
                    label="Neue Rolle"
                    icon="pi pi-plus"
                    styleClass="p-button-info p-button-outlined"
                    [disabled]="isCreating || isSaving"
                    (click)="
                        addDialogVisible = true;
                        rolePermissions = [];
                        selectedRole = null
                    "
                ></p-button></div
        ></ng-template>
        <ng-template pTemplate="body" let-role let-expanded="expanded"
            ><tr [pSelectableRow]="role" [pRowToggler]="role">
                <td style="font-size: 1.2rem">
                    <b>{{ role.name | mkjTextTransform }}</b>
                </td>
            </tr></ng-template
        ><ng-template pTemplate="rowexpansion" let-role
            ><div class="p-ml-6">
                <p-listbox
                    *ngIf="rolePermissions"
                    [options]="permissions"
                    [(ngModel)]="rolePermissions"
                    [multiple]="true"
                    [checkbox]="true"
                    [filter]="true"
                    filterPlaceHolder="Berechtigung filtern..."
                    [showToggleAll]="false"
                    [listStyle]="{ 'max-height': '500px' }"
                    optionLabel="name"
                    dataKey="id"
                >
                    <ng-template pTemplate="header">
                        <div
                            class="p-col-12 p-d-flex p-jc-between p-ai-center p-p-0"
                        >
                            <span
                                >{{ role.name | mkjTextTransform }} -
                                Berechtigungen</span
                            >
                            <div>
                                <p-button
                                    label="Update"
                                    [icon]="
                                        isSaving
                                            ? 'pi pi-spin pi-spinner'
                                            : 'pi pi-save'
                                    "
                                    class="p-m-2"
                                    [disabled]="isSaving"
                                    (click)="saveRolePermissions()"
                                ></p-button>
                                <p-button
                                    icon="pi pi-trash"
                                    styleClass="p-button-danger p-button-outlined p-button-sm p-ml-2"
                                    label="Rolle löschen"
                                    [disabled]="isSaving"
                                    (click)="deleteRole(role)"
                                ></p-button>
                            </div></div
                    ></ng-template>
                    <ng-template let-permission pTemplate="item">
                        <div>
                            <div>
                                {{ permission.name | mkjTextTransform }}
                            </div>
                        </div>
                    </ng-template>
                </p-listbox>
                <div
                    *ngIf="!rolePermissions"
                    class="p-d-flex p-jc-center p-ai-center"
                    style="height: 250px"
                >
                    <i
                        class="pi pi-spin pi-spinner"
                        style="font-size: 2rem"
                    ></i>
                </div></div></ng-template
    ></p-table>
</div>

<p-dialog
    [(visible)]="addDialogVisible"
    [breakpoints]="{ '960px': '75vw', '640px': '100vw' }"
    [style]="{ width: '50vw' }"
    header="Neue Rolle"
    [modal]="true"
    styleClass="p-fluid"
    position="top"
>
    <ng-template pTemplate="content">
        <input
            pInputText
            [(ngModel)]="addRoleName"
            placeholder="Name der neuen Rolle"
            class="p-mb-3"
            required
        />

        <p-listbox
            [options]="permissions"
            [(ngModel)]="rolePermissions"
            [multiple]="true"
            [checkbox]="true"
            [filter]="false"
            [showToggleAll]="false"
            optionLabel="name"
            dataKey="id"
            required
        >
            <ng-template pTemplate="header"> Berechtigungen </ng-template>
            <ng-template let-permission pTemplate="item">
                <div>
                    <div>
                        {{ permission.name | mkjTextTransform }}
                    </div>
                </div>
            </ng-template>
        </p-listbox>
    </ng-template>

    <ng-template pTemplate="footer">
        <button
            pButton
            pRipple
            label="Abbrechen"
            icon="pi pi-times"
            class="p-button-text"
            (click)="addDialogVisible = false; addRoleName = null"
        ></button>
        <button
            pButton
            pRipple
            label="Speichern"
            [icon]="isCreating ? 'pi pi-spin pi-spinner' : 'pi pi-save'"
            [disabled]="isCreating || !addRoleName || !rolePermissions?.length"
            class="p-button-plain"
            (click)="createRole(addRoleName)"
        ></button
    ></ng-template>
</p-dialog>

<!-- Löschbestätigung? -->
<p-confirmDialog
    [breakpoints]="{ '960px': '75vw', '640px': '100vw' }"
    [style]="{ width: '450px' }"
></p-confirmDialog>
