<p-toast></p-toast>
<div class="login-body">
    <div class="login-panel p-fluid">
        <div class="p-grid p-nogutter">
            <div class="p-col-12 login-header" style="margin-top: -5em">
                <h1>LOGIN</h1>
                <h2>Willkommen bei der mkjAPP!</h2>
                <img src="assets/mkjICONS/LOGO_APP_Favicon.png" />
            </div>
            <div class="p-col-12 p-pb-0 p-pt-0">
                <span class="p-float-label">
                    <input
                        type="email"
                        pInputText
                        [(ngModel)]="user.email"
                        [ngClass]="{
                            'ng-invalid ng-dirty': submitted && !user.email
                        }"
                        required
                    />
                    <small class="p-error" *ngIf="submitted && !user.email"
                        >Name ist erforderlich!</small
                    >
                    <label>E-Mail</label>
                </span>
            </div>
            <div class="p-col-12">
                <span class="p-float-label">
                    <input
                        type="password"
                        pInputText
                        [(ngModel)]="user.passwort"
                        [ngClass]="{
                            'ng-invalid ng-dirty': submitted && !user.passwort
                        }"
                        required
                    />
                    <small class="p-error" *ngIf="submitted && !user.passwort"
                        >Passwort ist erforderlich!</small
                    >
                    <label>Passwort</label>
                </span>
            </div>
            <div class="p-col-12 button-container">
                <button
                    pButton
                    type="button"
                    label="Login"
                    [icon]="isChecking ? 'pi pi-spin pi-spinner' : 'pi pi-user'"
                    (click)="onSubmit()"
                ></button>
                <button
                    pButton
                    class="p-button p-button-outlined p-button-sm p-mt-3"
                    label="Erste Anmeldung"
                    routerLink="/signup"
                ></button>
            </div>
        </div>
    </div>
</div>
