<ng-container [ngSwitch]="colConfig?.type">
    <ng-container *ngSwitchCase="'date'">
        {{value?.[colConfig?.field] | mkjDate}}
    </ng-container>
    <ng-container *ngSwitchCase="'currency'">
        {{value?.[colConfig?.field] | currency: "EUR"}}
    </ng-container>
    <ng-container *ngSwitchCase="'template'">
        <ng-template
            [ngTemplateOutlet]="templateMap[colConfig?.templateName]"
            [ngTemplateOutletContext]="{ $implicit: value }"
        ></ng-template>
    </ng-container>
    <ng-container *ngSwitchCase="'value'">{{
        value | listCellValue : colConfig?.getValue
    }}</ng-container>
    <ng-container *ngSwitchDefault>
        {{ value?.[colConfig?.field] }}
    </ng-container>
</ng-container>
