$primaryColor: #bf0000;
$primaryLightColor: #bf0000;
$primaryTextColor: #e8f5e9;
$primaryTextHoverColor: #ffffff;
$topBarColor: #bf0000;
$accentColor: #fbc02d;
$accentLightColor: #fff9c4;
$accentTextColor: #000000;
$activeMenuItemTextColor: #bf0000;
$darkActiveMenuItemTextColor: #bb0101;
$darkMenuItemTextColor: #dee0e3;
$darkMenuItemInactiveTextColor: #757575;
$darkMenuItemHoverBgColor: #545454;
$darkSidemenuBgColor: #343434;
$darkMenuBgColor: #424242;
$mkjErrorColor: #ff4f3cfc;

@import "../theme-dark-base.scss";
@import "../../sass/theme/_variables";
@import "../../sass/layout/layout";
@import "../../sass/theme/designer/_components";
@import "../../sass/theme/extensions/_vendor_extensions";
@import "../../sass/_mkj-overrides.scss";
