<div class="card">
  <div class="grid col-12">
    @for (c of config.fields; track c.label) {
      @if (c.value) {
        <div [class]="c.styleClass ?? 'lg:col-3 md:col-4 col-12'">
          <mkj-display-field [label]="c.label">
            @switch (c.type) {
              @case ('links') {
                <mkj-link-input [jsonLinks]="c.value" [readonly]="true"></mkj-link-input>
              }
              @default {
                {{ c.value }}
              }
            }
          </mkj-display-field>
        </div>
      }
    }
  </div>
  <div class="col-12 flex text-sm opacity-50 justify-space-start gap-4 mt-2">
    @if (model.created_at) {
      <span>Erstellt: {{ model.created_at | mkjDate: 'd. MMM YYYY HH:mm' }}</span>
    }
    @if (model.created_at && model.updated_at) {
      <span>|</span>
    }
    @if (model.updated_at) {
      <span>Aktualisiert: {{ model.updated_at | mkjDate: 'd. MMM YYYY HH:mm' }}</span>
    }
  </div>
</div>

@if (config.rateable || (config.actions?.length > 0 && hideActions === false)) {
  <div class="card flex flex-wrap gap-2 sm:flex-column md:flex-row justify-content-between align-items-center">
    <div>
      @if (config.rateable) {
        <mkj-rating
          label="Meine Bewertung"
          [disabled]="personalVote === null"
          [value]="personalVote?.bewertung"
          (valueChange)="setVote(this.model, $event)"
        ></mkj-rating>
      }
    </div>
    <div class="flex flex-wrap gap-2 flex-wrap gap-2 sm:flex-column md:flex-row">
      @if (!hideActions) {
        @for (a of config.actions; track a) {
          <button
            *visibleFor="a.permission"
            pButton
            pRipple
            [label]="actionButtonLabelLUT[a.type]"
            [icon]="actionButtonIconLUT[a.type]"
            class="p-button-secondary p-button-rounded p-button-raised"
            (click)="a.action(model)"
          ></button>
        }
      }
    </div>
  </div>
}

@if (config.commentable) {
  <mkj-comments [modelType]="config.commentable" [modelId]="model?.id"></mkj-comments>
}
