<div class="card">
  <div class="grid col-12">
    @for (c of config.fields; track c.label) {
      @if (c.value) {
        <div [class]="c.styleClass ?? 'lg:col-3 md:col-4 col-12'">
          <mkj-display-field [label]="c.label">
            @switch (c.type) {
              @case ('links') {
                <mkj-link-input [jsonLinks]="c.value" [readonly]="true"></mkj-link-input>
              }
              @default {
                {{ c.value }}
              }
            }
          </mkj-display-field>
        </div>
      }
    }
    @if (config.rateable) {
      <div class="col-12 flex justify-content-center">
        <mkj-rating
          label="Meine Bewertung"
          [value]="bewertung?.bewertung"
          (valueChange)="setVote(this.model, $event)"
        ></mkj-rating>
      </div>
    }
  </div>
  <div class="col-12 flex text-sm opacity-50 justify-space-start gap-4 mt-2">
    @if (model.created_at) {
      <span>Erstellt: {{ model.created_at | mkjDate: 'd. MMMM YYYY' }}</span>
    }
    @if (model.created_by && model.updated_at) {
      <span>|</span>
    }
    @if (model.updated_at) {
      <span>Aktualisiert: {{ model.updated_at | mkjDate: 'd. MMMM YYYY' }}</span>
    }
  </div>
</div>
