<mkj-list
  [datasource]="datasource"
  [configuration]="listConfig"
    [templateMap]="{
        rowexpansion: rowexpansion,
    }"
  (onDoubleClick)="navigateToEditView($event)"
  >
</mkj-list>

<ng-template #rowexpansion let-noten>
  @if (noten) {
    <mkj-display-model [model]="noten"></mkj-display-model>
  }
  <div
    *visibleFor="[PermissionMap.NOTEN_SAVE]"
    class="col-12 flex justify-content-center"
    >
    <button
      pButton
      pRipple
      label="Bearbeiten"
      icon="pi pi-pencil"
      class="p-button-secondary p-button-rounded p-button-raised"
      (click)="navigateToEditView(noten)"
    ></button>
  </div>
</ng-template>
