<mkj-list
  [datasource]="datasource"
  [configuration]="listConfig"
  [templateMap]="{
    rowexpansion: rowexpansion,
    bewertungTemplate: bewertungTemplate
  }"
  (onDoubleClick)="navigateToEditView($event)"
>
</mkj-list>

<ng-template #rowexpansion let-noten>
  @if (noten) {
    <mkj-display-model [model]="noten"></mkj-display-model>
  }
</ng-template>

<ng-template #bewertungTemplate let-noten>
  @if (noten.bewertung != null) {
    <mkj-rating [value]="noten.bewertung" [readonly]="true"></mkj-rating>
  }
</ng-template>
