<div class="p-grid">
    <div class="p-col-12">
        <p-toast position="top-right"></p-toast>

        <div class="card">
            <p-toolbar styleClass="p-mb-2">
                <ng-template pTemplate="left">
                    <h2>Ausrückungen</h2>
                </ng-template>
                <ng-template pTemplate="right">
                    <button
                        pButton
                        pRipple
                        label="Neue Ausrückung"
                        icon="pi pi-plus"
                        class="p-button-success p-mr-2 p-mb-2"
                        (click)="openNew()"
                    ></button>
                    <button
                        pButton
                        pRipple
                        label="Export"
                        icon="pi pi-upload"
                        class="p-button-info p-mb-2"
                        (click)="exportMenu.toggle($event)"
                    ></button>
                    <p-menu
                        #exportMenu
                        [popup]="true"
                        [model]="exportOptions"
                    ></p-menu>
                </ng-template>
            </p-toolbar>

            <!-- Tabelle -->
            <p-table
                #dt
                [columns]="cols"
                [value]="ausrueckungenArray"
                [globalFilterFields]="['name', 'von', 'kategorie']"
                [rowHover]="true"
                dataKey="id"
                styleClass="p-datatable-customers p-datatable-striped rowexpand-table"
                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                responsiveLayout="scroll"
                [showCurrentPageReport]="true"
                [loading]="loading"
                sortField="von"
                (onFilter)="setFilteredRows($event)"
                stateStorage="session"
                stateKey="ausrueckungenTable-session"
            >
                <ng-template pTemplate="caption">
                    <div
                        class="p-d-flex p-flex-column p-flex-md-row p-jc-md-between p-ai-center table-header"
                    >
                        <div class="small-text">
                            <span *ngIf="!ausrueckungFilterInput?.vonFilter">
                                2022
                            </span>
                            <span *ngIf="ausrueckungFilterInput?.vonFilter">
                                Von
                                {{
                                    ausrueckungFilterInput?.vonFilter
                                        | date: "d. MMMM YYYY"
                                }}
                                bis
                                {{
                                    ausrueckungFilterInput?.bisFilter
                                        | date: "d. MMMM YYYY"
                                }}
                            </span>
                            <button
                                pButton
                                pRipple
                                type="button"
                                label="Zeitraum"
                                icon="pi pi-filter"
                                class="p-button-rounded p-button-text p-button-plain"
                                (click)="showRangeSelectDialog()"
                            ></button>
                        </div>
                        <span class="p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input
                                pInputText
                                type="text"
                                (input)="
                                    dt.filterGlobal(
                                        $event.target.value,
                                        'contains'
                                    )
                                "
                                placeholder="Suchen..."
                            />
                        </span>
                    </div>
                </ng-template>

                <ng-template pTemplate="header">
                    <tr>
                        <th></th>
                        <th pSortableColumn="name">
                            Name <p-sortIcon field="name"></p-sortIcon>
                        </th>
                        <th pSortableColumn="von">
                            Datum <p-sortIcon field="von"></p-sortIcon>
                        </th>
                        <th>
                            <span>Kategorie</span>
                            <p-columnFilter
                                field="kategorie"
                                matchMode="equals"
                                display="menu"
                                [showOperator]="false"
                                [showClearButton]="true"
                                [showApplyButton]="true"
                                [showMatchModes]="false"
                                [showAddButton]="false"
                                [hideOnClear]="true"
                            >
                                <ng-template
                                    pTemplate="filter"
                                    let-value
                                    let-filter="filterCallback"
                                >
                                    <p-dropdown
                                        [ngModel]="value"
                                        [options]="kategorien"
                                        (onChange)="filter($event.value)"
                                        placeholder="Filter"
                                    >
                                        <ng-template
                                            let-option
                                            pTemplate="item"
                                        >
                                            <span
                                                [class]="
                                                    'ausrueckungen-badge status-' +
                                                    option.value
                                                "
                                                >{{ option.label }}</span
                                            >
                                        </ng-template>
                                    </p-dropdown>
                                </ng-template>
                            </p-columnFilter>
                        </th>
                        <th>
                            <span>Status </span>
                            <p-columnFilter
                                field="status"
                                matchMode="equals"
                                display="menu"
                                [showOperator]="false"
                                [showClearButton]="true"
                                [showApplyButton]="true"
                                [showMatchModes]="false"
                                [showAddButton]="false"
                                [hideOnClear]="true"
                            >
                                <ng-template
                                    pTemplate="filter"
                                    let-value
                                    let-filter="filterCallback"
                                >
                                    <p-dropdown
                                        [ngModel]="value"
                                        [options]="status"
                                        (onChange)="filter($event.value)"
                                        placeholder="Filter"
                                    >
                                        <ng-template
                                            let-option
                                            pTemplate="item"
                                        >
                                            <span
                                                [class]="
                                                    'ausrueckungen-badge status-' +
                                                    option.value
                                                "
                                                >{{ option.label }}</span
                                            >
                                        </ng-template>
                                    </p-dropdown>
                                </ng-template>
                            </p-columnFilter>
                        </th>
                        <th></th>
                    </tr>
                </ng-template>

                <ng-template
                    pTemplate="body"
                    let-ausrueckung
                    let-expanded="expanded"
                >
                    <tr class="p-selectable-row">
                        <td style="width: 2px">
                            <button
                                type="button"
                                pButton
                                pRipple
                                [pRowToggler]="ausrueckung"
                                style="color: #006600"
                                class="p-button-text p-button-rounded p-button-plain"
                                [icon]="
                                    expanded
                                        ? 'pi pi-caret-down'
                                        : 'pi pi-caret-right'
                                "
                            ></button>
                        </td>
                        <td>
                            <span class="p-column-title not-on-small"
                                >Name</span
                            >
                            <span class="p-text-bold">{{
                                ausrueckung.name
                            }}</span>
                        </td>
                        <td>
                            <span class="p-column-title not-on-small"
                                >Datum</span
                            >
                            {{
                                ausrueckung.von | date: "E d. MMMM YYYY / HH:mm"
                            }}
                        </td>
                        <td class="not-on-small">
                            <span class="p-column-title">Kategorie</span>
                            {{ ausrueckung.kategorie }}
                        </td>
                        <td>
                            <span class="p-column-title not-on-small"
                                >Status</span
                            >
                            <span
                                [class]="
                                    'ausrueckungen-badge status-' +
                                    (ausrueckung.status
                                        ? ausrueckung.status.toLowerCase()
                                        : '')
                                "
                            >
                                {{ ausrueckung.status }}
                            </span>
                        </td>
                        <td class="not-on-small">
                            <div class="buttons-hide">
                                <button
                                    pButton
                                    pRipple
                                    icon="pi pi-list"
                                    class="p-button-rounded p-button-info p-mr-2"
                                    (click)="
                                        navigateSingleAusrueckung(
                                            ausrueckung.id
                                        )
                                    "
                                ></button>
                                <button
                                    pButton
                                    pRipple
                                    icon="pi pi-pencil"
                                    class="p-button-rounded p-button-warning p-mr-2"
                                    (click)="editAusrueckung(ausrueckung)"
                                ></button>
                                <button
                                    pButton
                                    pRipple
                                    icon="pi pi-trash"
                                    class="p-button-rounded p-button-danger"
                                    (click)="deleteAusrueckung(ausrueckung)"
                                ></button>
                            </div>
                        </td>
                    </tr>
                </ng-template>

                <ng-template pTemplate="rowexpansion" let-ausrueckung>
                    <tr>
                        <td></td>
                        <td colspan="5">
                            <div class="p-col-12 p-grid">
                                <p-panel
                                    *ngIf="ausrueckung.beschreibung"
                                    header="Beschreibung"
                                    class="p-md-6"
                                    >{{ ausrueckung.beschreibung }}</p-panel
                                >

                                <p-panel
                                    *ngIf="ausrueckung.infoMusiker"
                                    header="Infos für die Musiker/innen"
                                    class="p-md-6"
                                    >{{ ausrueckung.infoMusiker }}</p-panel
                                >
                                <p-panel class="p-md-12">
                                    Erstellt am:
                                    {{ ausrueckung.created_at | date: "d.M.Y"
                                    }}<br />
                                    Bearbeitet am:
                                    {{ ausrueckung.updated_at | date: "d.M.Y" }}
                                </p-panel>
                            </div>
                        </td>
                    </tr>
                </ng-template>

                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td colspan="6">
                            In diesem Zeitraum sind keine Termine vorhanden!
                        </td>
                    </tr>
                </ng-template>

                <ng-template pTemplate="summary">
                    <div
                        *ngIf="
                            ausrueckungenArray && ausrueckungenArray.length > 0
                        "
                        class="p-d-flex p-ai-center p-jc-between"
                    >
                        Insgesamt sind das
                        {{
                            selectedAusrueckungen
                                ? selectedAusrueckungen.length
                                : 0
                        }}
                        Ausrückungen.
                    </div>
                </ng-template>
            </p-table>
        </div>

        <!-- Save/Update Ausrückung -->
        <p-dialog
            #ausrDialog
            [(visible)]="ausrueckungDialog"
            [breakpoints]="{ '960px': '75vw', '640px': '100vw' }"
            [style]="{ width: '75vw' }"
            [header]="
                !updateAusrueckung
                    ? 'Ausrückung anlegen'
                    : 'Ausrückung aktualisieren'
            "
            [modal]="true"
            styleClass="p-fluid"
        >
            <ng-template pTemplate="content">
                <div class="p-fluid p-grid" style="margin-top: 5px">
                    <div class="p-col-12">
                        <div class="p-d-flex p-jc-end p-ai-center card">
                            <div class="p-mr-2">Auf Homepage anzeigen?</div>
                            <p-checkbox
                                [(ngModel)]="singleAusrueckung.oeffentlich"
                            ></p-checkbox>
                        </div>
                    </div>
                    <div class="p-field p-col-12">
                        <span class="p-float-label">
                            <input
                                type="text"
                                pInputText
                                inputId="name"
                                [(ngModel)]="singleAusrueckung.name"
                                required
                                autofocus
                            />
                            <small
                                class="p-error"
                                *ngIf="submitted && !singleAusrueckung.name"
                                >Name ist erforderlich!</small
                            >
                            <label for="name">Name</label>
                        </span>
                    </div>
                    <div class="p-field p-col-12 p-md-6">
                        <span class="p-float-label">
                            <p-calendar
                                inputId="von"
                                [(ngModel)]="vonDatumDate"
                                [showTime]="true"
                                showIcon="true"
                                [appendTo]="ausrDialog"
                                (ngModelChange)="onVonCalendarChange()"
                                required
                            ></p-calendar>
                            <small
                                class="p-error"
                                *ngIf="submitted && !vonDatumDate"
                                >Datum/Zeit ist erforderlich!</small
                            >
                            <label for="von">Von</label>
                        </span>
                    </div>
                    <div class="p-field p-col-12 p-md-6">
                        <span class="p-float-label">
                            <p-calendar
                                inputId="bis"
                                [(ngModel)]="bisDatumDate"
                                [showTime]="true"
                                showIcon="true"
                                [appendTo]="ausrDialog"
                                required
                            ></p-calendar>
                            <small
                                class="p-error"
                                *ngIf="submitted && !bisDatumDate"
                                >Datum/Zeit ist erforderlich!</small
                            >
                            <label for="bis">Bis</label>
                        </span>
                    </div>

                    <div class="p-field p-col-12 p-md-6">
                        <span class="p-float-label">
                            <p-dropdown
                                inputId="kategorie"
                                [autoDisplayFirst]="updateAusrueckung"
                                [options]="kategorien"
                                [(ngModel)]="singleAusrueckung.kategorie"
                                required
                            ></p-dropdown>
                            <small
                                class="p-error"
                                *ngIf="
                                    submitted && !singleAusrueckung.kategorie
                                "
                                >Kategorie ist erforderlich!</small
                            >
                            <label for="kategorie">Kategorie</label>
                        </span>
                    </div>
                    <div class="p-field p-col-12 p-md-6">
                        <span class="p-float-label">
                            <p-dropdown
                                inputId="status"
                                [autoDisplayFirst]="updateAusrueckung"
                                [options]="status"
                                [(ngModel)]="singleAusrueckung.status"
                                required
                            ></p-dropdown>
                            <small
                                class="p-error"
                                *ngIf="submitted && !singleAusrueckung.status"
                                >Status ist erforderlich!</small
                            >
                            <label for="status">Status</label>
                        </span>
                    </div>
                    <div class="p-field p-col-12">
                        <span class="p-float-label">
                            <textarea
                                id="beschreibung"
                                pInputTextarea
                                [(ngModel)]="singleAusrueckung.beschreibung"
                                rows="2"
                                cols="20"
                            ></textarea>
                            <label for="beschreibung">Beschreibung</label>
                        </span>
                    </div>
                    <div class="p-field p-col-12">
                        <span class="p-float-label">
                            <textarea
                                type="text"
                                pInputTextarea
                                id="infoMusiker"
                                [(ngModel)]="singleAusrueckung.infoMusiker"
                                [placeholder]="
                                    isFocused
                                        ? 'z.B. Adjustierung oder Treffpunkt'
                                        : ''
                                "
                                rows="2"
                                cols="20"
                            ></textarea>
                            <label for="infoMusiker"
                                >Infos für die Musiker</label
                            >
                        </span>
                    </div>
                </div>
            </ng-template>

            <ng-template pTemplate="footer">
                <button
                    pButton
                    pRipple
                    label="Abbrechen"
                    icon="pi pi-times"
                    class="p-button-text"
                    (click)="hideAusrueckungDialog()"
                ></button>
                <button
                    pButton
                    pRipple
                    label="Speichern"
                    icon="pi pi-check"
                    class="p-button-text"
                    (click)="saveAusrueckung()"
                ></button>
            </ng-template>
        </p-dialog>

        <!-- Zeitraum Dialog -->
        <p-dialog
            #ausrDialog
            [(visible)]="zeitraumDialog"
            header="Zeitraum auswählen"
            [closable]="false"
            [modal]="true"
            styleClass="p-fluid"
        >
            <ng-template pTemplate="content">
                <div class="p-mb-5">
                    <button
                        pButton
                        pRipple
                        label="Alle Ausrückungen"
                        icon="pi pi-align-justify"
                        class="p-button-plain p-button-info p-mb-2"
                        (click)="getAllAusrueckungen()"
                    ></button>
                    <button
                        pButton
                        pRipple
                        label="Aktuelles Jahr"
                        icon="pi pi-calendar"
                        class="p-button-plain p-button-info p-mb-2"
                        (click)="saveZeitraum(0)"
                    ></button>
                </div>
                <div>
                    <app-zeitraum-picker
                        (vonDatumChange)="vonZeitraum = $event"
                        (bisDatumChange)="bisZeitraum = $event"
                    ></app-zeitraum-picker>
                </div>
            </ng-template>
            <ng-template pTemplate="footer">
                <button
                    pButton
                    pRipple
                    label="Verwerfen"
                    icon="pi pi-times"
                    class="p-button-text"
                    (click)="hideZeitraumDialog()"
                ></button>
                <button
                    pButton
                    pRipple
                    label="Übernehmen"
                    icon="pi pi-check"
                    class="p-button"
                    (click)="saveZeitraum(1)"
                ></button>
            </ng-template>
        </p-dialog>

        <!-- Löschbestätigung? -->
        <p-confirmDialog
            [breakpoints]="{ '960px': '75vw', '640px': '100vw' }"
            [style]="{ width: '450px' }"
        ></p-confirmDialog>
    </div>
</div>
