<mkj-content-loader [loading]="loading">
    <div *ngFor="let gruppe of gruppen">
        <h6>{{ gruppe.name }}</h6>
        <ul>
            <li
                *ngFor="let mitglied of gruppe.mitglieder"
                [class]="'teilnahme-li-' + mitglied.teilnahmen?.[0]?.pivot?.status ?? 'null'"
            >
                {{ mitglied | fullName }}
                <i
                    class="ml-2 mr-2 pi"
                    [ngClass]="{
                    'pi-check': mitglied.teilnahmen?.[0]?.pivot?.status === 'anwesend',
                    'pi-times': mitglied.teilnahmen?.[0]?.pivot?.status === 'abwesend'
                }"
                ></i>
                <span *ngIf="mitglied.teilnahmen?.[0]?.pivot?.updated_at"
                    >(letzte Aktualisierung:
                    {{mitglied.teilnahmen?.[0]?.pivot?.updated_at | mkjDate: "d. MMM H:mm"




                    }})</span
                >
            </li>
        </ul>
    </div>
</mkj-content-loader>
