<mkj-content-loader [loading]="loading">
  @for (gruppe of gruppen; track gruppe) {
    <div>
      <h6>{{ gruppe.name }}</h6>
      <ul>
        @for (mitglied of gruppe.mitglieder; track mitglied) {
          <li
            [class]="'teilnahme-li-' + mitglied.teilnahmen?.[0]?.pivot?.status ?? 'null'"
            >
            {{ mitglied | fullName }}
            <i
              class="ml-2 mr-2 pi"
                    [ngClass]="{
                    'pi-check': mitglied.teilnahmen?.[0]?.pivot?.status === 'anwesend',
                    'pi-times': mitglied.teilnahmen?.[0]?.pivot?.status === 'abwesend'
                }"
            ></i>
            @if (mitglied.teilnahmen?.[0]?.pivot?.updated_at) {
              <span
                >(letzte Aktualisierung:
                {{mitglied.teilnahmen?.[0]?.pivot?.updated_at | mkjDate: "d. MMM H:mm"
                }})</span
                >
              }
            </li>
          }
        </ul>
      </div>
    }
  </mkj-content-loader>
