<div class="grid card">
    <div *ngIf="termin.gruppe" class="md:col-3 col-12">
        <mkj-display-field label="Gruppe/Register">
            <p>
                {{ termin.gruppe.name }}
                <span
                    class="gruppentermin ml-2"
                    [style.--gruppe-color]="termin.gruppe?.color"
                >
                    <i class="pi pi-users"></i
                ></span>
            </p>
        </mkj-display-field>
    </div>

    <div class="md:col-3 col-12">
        <mkj-display-field label="Termin">
            <p>
                {{ termin?.name }}
            </p>
        </mkj-display-field>
    </div>
    <div class="md:col-3 col-12">
        <mkj-display-field label="Termin">
            <p>
                {{ termin?.vonDatum | mkjDate : "d. MMMM YYYY" }}
                {{ termin?.vonZeit }}
            </p>
            <p>
                <ng-container *ngIf="termin?.bisDatum !== termin?.vonDatum">
                    bis {{ termin?.bisDatum | mkjDate : "d. MMMM YYYY" }}
                    {{ termin?.bisZeit }}
                </ng-container>
                <ng-container
                    *ngIf="
                        termin?.bisDatum === termin?.vonDatum && termin.bisZeit
                    "
                >
                    bis {{ termin?.bisZeit }}
                </ng-container>
            </p>
        </mkj-display-field>
    </div>
    <div class="md:col-3 col-12" *ngIf="termin.treffzeit">
        <mkj-display-field label="Zusammenkunft um">
            <p>
                {{ termin?.treffzeit }}
            </p></mkj-display-field
        >
    </div>
    <div class="md:col-3 col-12" *ngIf="termin.ort">
        <mkj-display-field label="Ort">
            <p>
                {{ termin?.ort }}
            </p></mkj-display-field
        >
    </div>

    <div *ngIf="termin.infoMusiker" class="md:col-6 col-12">
        <mkj-display-field label="Infos">{{
            termin.infoMusiker
        }}</mkj-display-field>
    </div>
    <div *ngIf="termin.beschreibung" class="md:col-6 col-12">
        <mkj-display-field label="Öffentliche Info">{{
            termin.beschreibung
        }}</mkj-display-field>
    </div>
</div>
