<div class="flex">
    <span *ngIf="verzeichnisMode" class="p-float-label verzeichnis-input">
        <input
            type="text"
            inputId="verzeichnis"
            pInputText
            [(ngModel)]="verzeichnisNr"
            [class.ng-invalid]="!verzeichnisNr"
            class="ng-dirty"
        />
        <label for="verzeichnis">Verzeichnis</label>
    </span>
    <p-autoComplete
        [(ngModel)]="selectedNoten"
        [suggestions]="searchNotenResult"
        [autoHighlight]="autoHighlight"
        [forceSelection]="true"
        [minLength]="minLength"
        [placeholder]="placeholder"
        (completeMethod)="searchNoten($event)"
        (onSelect)="onSelect($event)"
        [appendTo]="'body'"
        field="titel"
        dataKey="id"
        [class.notensuche-input]="verzeichnisMode"
        [showEmptyMessage]="true"
        emptyMessage="Keine Noten gefunden..."
    >
        <ng-template pTemplate="item" let-item>
            <div class="flex justify-content-between text-truncate">
                <div [style.width]="'20rem'">
                    {{ item.titel }}
                </div>
                <div [style.width]="'10rem'" style="color: grey">
                    {{ item.gattung }}
                </div>
            </div>
        </ng-template>
    </p-autoComplete>
</div>
