<p-table
  #table
  [value]="values"
  [loading]="loading$()"
  [scrollable]="true"
  [class.p-disabled]="disabled"
  [lazy]="configuration.lazyLoad"
  [paginator]="configuration.lazyLoad"
  [rows]="pageSize"
  [totalRecords]="totalCount"
  (onLazyLoad)="loadData($event)"
  stateStorage="session"
  [stateKey]="configuration.listName + '-list'"
  rowExpandMode="single"
  dataKey="id"
  [selectionMode]="configuration.selectionMode ?? null"
  [rowHover]="configuration.selectionMode != null"
  [(selection)]="selectedRow"
  (selectionChange)="onSelectionChange.emit($event)"
  (onRowSelect)="table.toggleRow($event.data)"
  (onRowUnselect)="table.toggleRow($event.data)"
  [sortField]="configuration.sort?.field"
  [sortOrder]="configuration.sort?.order"
  [globalFilterFields]="configuration.globalFilter?.fields"
  (onRowReorder)="onRowReordered($event)"
  styleClass="p-datatable-striped"
  responsiveLayout="scroll"
  [filters]="configuration.initialFilter ?? {}"
  (onStateRestore)="onStateRestore($event)"
>
  <ng-template pTemplate="caption">
    <div class="flex flex-column md:flex-row md:justify-content-between align-items-center">
      @if (configuration.showTotalCount) {
        <div class="m-2">
          Anzahl:
          {{ totalCount }}
        </div>
      }
      @if (configuration.globalFilter != null) {
        <mkj-text-input
          iconRight="pi pi-search"
          [clearable]="true"
          [value]="table.filters?.global?.value"
          (valueChange)="table.filterGlobal($event, configuration.globalfilter?.matchMode ?? 'contains')"
          placeholder="Suchen..."
        />
      }
    </div>

    <ng-template
      [ngTemplateOutlet]="templateMap?.caption"
      [ngTemplateOutletContext]="{ $implicit: value }"
    ></ng-template>
  </ng-template>

  <ng-template #filterTemplate let-col>
    @switch (col.filter?.filterType) {
      @case ('date') {
        <p-columnFilter type="date" display="menu" [field]="col.field" [showOperator]="false"></p-columnFilter>
      }
      @default {
        @if (col.filter != null) {
          <p-columnFilter
            [field]="col.field"
            matchMode="equals"
            display="menu"
            [showOperator]="false"
            [showClearButton]="false"
            [showApplyButton]="false"
            [showMatchModes]="false"
            [showAddButton]="false"
            [hideOnClear]="true"
          >
            <ng-template pTemplate="filter" let-value let-filter="filterCallback">
              <p-dropdown
                [ngModel]="value"
                [options]="col.filter.filterOptions"
                (onChange)="filter($event.value)"
                placeholder="Filter"
              >
                <ng-template let-option pTemplate="item">
                  <span>{{ option.label }}</span>
                </ng-template>
              </p-dropdown>
            </ng-template>
          </p-columnFilter>
        }
      }
    }
  </ng-template>

  <ng-template #headerCell let-col>
    {{ col.header }}
    @if (col.sortable) {
      <p-sortIcon [field]="col.field"></p-sortIcon>
    }
    <ng-template [ngTemplateOutlet]="filterTemplate" [ngTemplateOutletContext]="{ $implicit: col }"></ng-template>
  </ng-template>

  @if (!configuration.hideHeader) {
    <ng-template pTemplate="header"
      ><tr>
        @if (rowReorder) {
          <th class="w-2rem"></th>
        }
        @for (col of configuration.columns; track col) {
          @if (col.sortable) {
            <th [class]="col.styleClass" [pSortableColumn]="col.field">
              <ng-template [ngTemplateOutlet]="headerCell" [ngTemplateOutletContext]="{ $implicit: col }"></ng-template>
            </th>
          }
          @if (!col.sortable) {
            <th [class]="col.styleClass">
              <ng-template [ngTemplateOutlet]="headerCell" [ngTemplateOutletContext]="{ $implicit: col }"></ng-template>
            </th>
          }
        }
      </tr>
    </ng-template>
  }

  <ng-template pTemplate="body" let-value let-expanded="expanded" let-rowIndex="rowIndex">
    <tr
      [pSelectableRow]="value"
      [pSelectableRowIndex]="rowIndex"
      [pReorderableRow]="rowIndex"
      [ngClass]="configuration.rowStyle?.condition(value) ? configuration.rowStyle.styleClass : ''"
      (dblclick)="onDoubleClick.emit(value)"
    >
      @if (rowReorder) {
        <td class="w-2rem">
          <span class="pi pi-bars" pReorderableRowHandle></span>
        </td>
      }
      @for (col of configuration.columns; track col) {
        <td [class]="col.styleClass">
          <mkj-list-cell [value]="value" [colConfig]="col" [templateMap]="templateMap"></mkj-list-cell>
        </td>
      }
    </tr>
  </ng-template>

  @if (templateMap?.rowexpansion != null; as value) {
    <ng-template pTemplate="rowexpansion" let-value>
      <tr>
        <td colspan="200">
          <ng-template
            [ngTemplateOutlet]="templateMap.rowexpansion"
            [ngTemplateOutletContext]="{ $implicit: value }"
          ></ng-template>
        </td>
      </tr>
    </ng-template>
  }
</p-table>

