<div class="flex flex-column md:flex-row md:justify-content-between align-items-center">
  @if (configuration.showTotalCount) {
    <div class="m-2">
      Anzahl:
      {{ totalCount }}
    </div>
  }
  <ng-template [ngTemplateOutlet]="templateMap?.caption"></ng-template>
  @if (configuration.globalFilter != null) {
    <mkj-text-input
      iconRight="pi pi-search"
      [clearable]="true"
      [value]="table.filters?.global?.value"
      (valueChange)="table.filterGlobal($event, 'contains')"
      placeholder="Suchen..."
    />
  }
</div>
<p-table
  #table
  [value]="values"
  [loading]="loading$()"
  [scrollable]="true"
  [class.p-disabled]="disabled"
  [lazy]="configuration.lazyLoad"
  [paginator]="configuration.lazyLoad"
  [rows]="pageSize"
  [totalRecords]="totalCount"
  (onLazyLoad)="loadData($event)"
  stateStorage="session"
  [stateKey]="configuration.listName + '-list'"
  rowExpandMode="single"
  dataKey="id"
  [selectionMode]="configuration.selectionMode ?? null"
  [rowHover]="configuration.selectionMode != null"
  [(selection)]="selectedRow"
  (selectionChange)="onSelectionChange.emit($event)"
  (onRowSelect)="table.toggleRow($event.data)"
  (onRowUnselect)="table.toggleRow($event.data)"
  [sortField]="configuration.sort?.field"
  [sortOrder]="configuration.sort?.order"
  [globalFilterFields]="configuration.globalFilter?.fields"
  styleClass="p-datatable-striped"
  responsiveLayout="scroll"
  [filters]="configuration.initialFilter ?? {}"
  (onStateRestore)="onStateRestore($event)"
>
  <ng-template pTemplate="caption"> </ng-template>

  <ng-template #filterTemplate let-col>
    @switch (col.filter?.filterType) {
      @case ('date') {
        <p-columnFilter type="date" display="menu" [field]="col.field" [showOperator]="false" [hideOnClear]="false">
        </p-columnFilter>
      }
      @case ('not-null') {
        <p-columnFilter [field]="col.field" matchMode="notContains" [showMenu]="false" [showOperator]="false">
          <ng-template pTemplate="filter" let-value let-filter="filterCallback">
            <mkj-boolean-input
              [value]="value"
              (valueChange)="filter($event === true ? true : null)"
            ></mkj-boolean-input>
          </ng-template>
        </p-columnFilter>
      }
      @case ('multiselect') {
        <p-columnFilter
          [field]="col.field"
          display="menu"
          matchMode="equals"
          [showOperator]="false"
          [showMatchModes]="false"
          [hideOnClear]="true"
          [showAddButton]="false"
        >
          <ng-template pTemplate="filter" let-value let-filter="filterCallback">
            <p-multiSelect
              [ngModel]="value"
              [options]="col.filter.filterOptions"
              placeholder="Any"
              (onChange)="filter($event.value)"
              optionLabel="label"
            >
              <ng-template let-option pTemplate="item">
                <div class="inline-block vertical-align-middle">
                  <span class="ml-1 mt-1">{{ option.label }}</span>
                </div>
              </ng-template>
            </p-multiSelect>
          </ng-template>
        </p-columnFilter>
      }
      @default {
        @if (col.filter != null) {
          <p-columnFilter
            [field]="col.field"
            matchMode="equals"
            display="menu"
            [showOperator]="false"
            [showClearButton]="true"
            [showApplyButton]="true"
            [showMatchModes]="true"
            [showAddButton]="false"
            [hideOnClear]="true"
          >
            <ng-template pTemplate="filter" let-value let-filter="filterCallback">
              <p-dropdown
                [ngModel]="value"
                [options]="col.filter.filterOptions"
                (onChange)="filter($event.value)"
                placeholder="Filter"
              >
                <ng-template let-option pTemplate="item">
                  <span>{{ option.label }}</span>
                </ng-template>
              </p-dropdown>
            </ng-template>
          </p-columnFilter>
        }
      }
    }
  </ng-template>

  <ng-template #headerCell let-col>
    <div class="flex gap-2 align-items-center">
      {{ col.header }}
      @if (col.sortable) {
        <p-sortIcon [field]="col.field"></p-sortIcon>
      }
      <ng-template [ngTemplateOutlet]="filterTemplate" [ngTemplateOutletContext]="{ $implicit: col }"></ng-template>
    </div>
  </ng-template>

  @if (!configuration.hideHeader) {
    <ng-template pTemplate="header"
      ><tr>
        @if (rowReorder) {
          <th class="w-2rem"></th>
        }
        @for (col of configuration.columns; track col) {
          @if (col.sortable) {
            <th [class]="col.styleClass" [pSortableColumn]="col.field">
              <ng-template [ngTemplateOutlet]="headerCell" [ngTemplateOutletContext]="{ $implicit: col }"></ng-template>
            </th>
          }
          @if (!col.sortable) {
            <th [class]="col.styleClass">
              <ng-template [ngTemplateOutlet]="headerCell" [ngTemplateOutletContext]="{ $implicit: col }"></ng-template>
            </th>
          }
        }
      </tr>
    </ng-template>
  }

  <ng-template pTemplate="body" let-value let-expanded="expanded" let-rowIndex="rowIndex">
    <tr
      [pSelectableRow]="value"
      [pSelectableRowIndex]="rowIndex"
      [ngClass]="configuration.rowStyle?.condition(value) ? configuration.rowStyle.styleClass : ''"
      (dblclick)="onDoubleClick.emit(value)"
    >
      @if (rowReorder) {
        <td class="w-2rem">
          <div class="flex flex-column gap-2">
            <button
              pButton
              pRipple
              class="p-button-text p-0"
              icon="pi pi-angle-up"
              (click)="onRowReordered(rowIndex, -1)"
            ></button>
            <button
              pButton
              pRipple
              class="p-button-text p-0"
              icon="pi pi-angle-down"
              (click)="onRowReordered(rowIndex, 1)"
            ></button>
          </div>
        </td>
      }
      @for (col of configuration.columns; track col) {
        <td [class]="col.styleClass">
          <mkj-list-cell [value]="value" [colConfig]="col" [templateMap]="templateMap"></mkj-list-cell>
        </td>
      }
    </tr>
  </ng-template>

  @if (templateMap?.rowexpansion != null; as value) {
    <ng-template pTemplate="rowexpansion" let-value>
      <tr>
        <td colspan="200">
          <ng-template
            [ngTemplateOutlet]="templateMap.rowexpansion"
            [ngTemplateOutletContext]="{ $implicit: value }"
          ></ng-template>
        </td>
      </tr>
    </ng-template>
  }
</p-table>
