<div
    class="mkj-toolbar col-12 flex justify-content-between align-items-center mb-3"
>
    <div>
        <button
            *ngIf="showBackButton"
            pButton
            icon="pi pi-arrow-left"
            class="p-button p-button-text p-button-plain button-opacity p-1"
            (click)="navigateBack.emit($event)"
            pTooltip="Zurück"
            tooltipPosition="bottom"
        ></button>
        <div *ngIf="headerLeft" class="toolbar-header">
            {{ headerLeft }}
        </div>
    </div>
    <div *ngIf="header" class="toolbar-header">
        {{ header }}
    </div>
    <div>
        <button
            *ngIf="showEditButton && editButtonPermission"
            pButton
            class="p-button p-button-text p-button-plain button-opacity p-1"
            icon="pi pi-pencil"
            (click)="clickEdit.emit($event)"
            [pTooltip]="editButtonTooltip"
            tooltipPosition="bottom"
        ></button>
        <button
            *ngIf="showAddButton && addButtonPermission"
            pButton
            class="p-button p-button-text p-button-plain button-opacity p-1"
            icon="pi pi-plus"
            (click)="clickAdd.emit($event)"
            [pTooltip]="addButtonTooltip"
            tooltipPosition="bottom"
        ></button>
        <button
            *ngIf="showDeleteButton && deleteButtonPermission"
            pButton
            class="p-button p-button-text p-button-plain button-opacity p-1"
            icon="pi pi-trash"
            (click)="clickDelete.emit($event)"
            [pTooltip]="deleteButtonTooltip"
            tooltipPosition="bottom"
        ></button>
        <button
            *ngIf="showFilterButton && filterButtonPermission"
            pButton
            class="p-button p-button-text p-button-plain button-opacity p-1 ml-1"
            icon="pi pi-filter"
            (click)="clickFilter.emit($event)"
            [pTooltip]="filterButtonTooltip"
            tooltipPosition="bottom"
        ></button>
        <button
            *ngIf="showExportButton && exportButtonPermission"
            pButton
            class="p-button p-button-text p-button-plain button-opacity p-1 ml-1"
            icon="pi pi-download"
            (click)="clickExport.emit($event)"
            [pTooltip]="exportButtonTooltip"
            tooltipPosition="bottom"
        ></button>
    </div>
</div>
