<app-mkj-toolbar></app-mkj-toolbar>

<form [formGroup]="rForm" (ngSubmit)="onSubmit(rForm.value)">
    <div class="col-12 grid">
        <p-card>
            <div class="p-fluid p-field">
                <span class="p-float-label">
                    <input
                        type="date"
                        pInputText
                        inputId="datum"
                        formControlName="datum"
                        [class.ng-invalid]="rForm.controls['datum'].invalid"
                        required
                    />
                    <small
                        class="p-error"
                        *ngIf="rForm.controls['datum'].invalid"
                        >Name ist erforderlich!</small
                    >
                    <label for="name">Name</label>
                </span>
            </div>
            <div class="p-fluid p-field">
                <span class="p-float-label">
                    <p-inputNumber
                        inputId="gesamtpreis"
                        formControlName="gesamtpreis"
                        [class.ng-invalid]="
                            rForm.controls['gesamtpreis'].invalid
                        "
                        required
                    ></p-inputNumber>
                    <small
                        class="p-error"
                        *ngIf="rForm.controls['gesamtpreis'].invalid"
                        >Preis ist erforderlich!</small
                    >
                    <label for="name">Preis</label>
                </span>
            </div>
        </p-card>
    </div>
    <button
        pButton
        type="submit"
        label="Erstellen"
        [disabled]="!rForm.valid"
    ></button>
</form>

<p-dialog [visible]="printDialogVisible">
    <app-mkj-rechnung [re]="rechnung"></app-mkj-rechnung>
</p-dialog>
