<app-mkj-toolbar headerLeft="Einstellungen"></app-mkj-toolbar>

<p-tabView
    ><p-tabPanel header="Meine Daten"
        ><div class="p-col-12">
            <app-mitglied-editor
                *ngIf="mitglied"
                [(mitglied)]="mitglied"
            ></app-mitglied-editor>
            <button
                pButton
                icon="pi pi-save"
                label="Speichern"
                (click)="updateOwnMitgliedData()"
            ></button></div></p-tabPanel
    ><p-tabPanel header="Einstellungen"></p-tabPanel
></p-tabView>
