<p-tabView
    [activeIndex]="activeTabIndex"
    (activeIndexChange)="rewriteUrl($event)"
    ><p-tabPanel header="Meine Daten">
        <ng-container *ngIf="mitglied">
            <div class="p-fluid">
                <app-mitglied-editor
                    [(mitglied)]="mitglied"
                    [personalMode]="true"
                ></app-mitglied-editor>
            </div>
            <button
                pButton
                [icon]="mitgliedSaving ? 'pi pi-spin pi-spinner' : 'pi pi-save'"
                [disabled]="mitgliedSaving"
                label="Speichern"
                (click)="updateOwnMitgliedData()"
            ></button>
        </ng-container> </p-tabPanel
    ><p-tabPanel *visibleFor="['read role']" header="Rollenverwaltung">
        <app-rollen-edit></app-rollen-edit></p-tabPanel
></p-tabView>
