@if (!gruppenMitglieder || !presentMitglieder) {
  <div
    class="flex flex-1 justify-content-center"
    >
    <i class="pi pi-spin pi-spinner" style="font-size: 2rem"></i>
  </div>
}
@if (gruppenMitglieder && presentMitglieder) {
  <p-listbox
    #listbox
    [options]="gruppenMitglieder"
    [ngModel]="presentMitglieder"
    [multiple]="true"
    [checkbox]="true"
    [showToggleAll]="false"
    dataKey="id"
    (onChange)="onMitgliederChange($event)"
    [listStyle]="{ 'min-height': '300rem' }"
    [disabled]="saving"
    >
    <ng-template pTemplate="header">
      Anwesend: {{ presentMitglieder?.length }}</ng-template
      >
      <ng-template let-mitglied pTemplate="item">
        {{ mitglied.vorname }} {{ mitglied.zuname }}
      </ng-template>
    </p-listbox>
  }
