<div class="flex align-items-center">
  <span class="p-float-label w-full">
    <p-inputGroup>
      <input
        type="text"
        [ngModel]="formControl?.value ?? value"
        (ngModelChange)="change($event)"
        pInputText
        inputId="color"
        [disabled]="disabled$ | async"
        pattern="^#([A-Fa-f0-9]{6}|[A-Fa-f0-9]{3})$"
      />
      <label for="color">{{ label }}</label>
      <p-inputGroupAddon>
        <p-colorPicker
          [ngModel]="formControl?.value ?? value"
          (ngModelChange)="change($event)"
          [disabled]="disabled$ | async"
        ></p-colorPicker>
      </p-inputGroupAddon>
    </p-inputGroup>
  </span>
</div>
