<div class="grid">
    <div class="col-12">
        <div class="card">
            <statistik-noten></statistik-noten>
        </div>
    </div>
    <div class="md:col-6 col-12">
        <div class="card flex justify-content-center">
            <statistik-termine></statistik-termine>
        </div>
    </div>
    <div class="md:col-6 col-12">
        <div class="card flex justify-content-center">
            <statistik-gruppen-termine></statistik-gruppen-termine>
        </div>
    </div>
    <div class="md:col-6 col-12">
        <div class="card flex justify-content-center">
            <statistik-mitglieder></statistik-mitglieder>
        </div>
    </div>
    <div class="md:col-6 col-12">
        <div class="card flex justify-content-center">
            <statistik-mitglieder-geschlecht></statistik-mitglieder-geschlecht>
        </div>
    </div>
</div>
